<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>29190186</key>
	<dict>
		<key>AsianAvrLet</key>
		<string>-1.5</string>
		<key>AwayTeam</key>
		<string>托特纳姆热刺</string>
		<key>AwayTeamId</key>
		<string>48224</string>
		<key>BfAmountAway</key>
		<real>2065898.6799999999</real>
		<key>BfAmountDraw</key>
		<real>1210076.8600000001</real>
		<key>BfAmountHome</key>
		<real>20578814.23</real>
		<key>BfIndexAway</key>
		<real>40.099200000000003</real>
		<key>BfIndexDraw</key>
		<real>13.3245</real>
		<key>BfIndexHome</key>
		<real>46.576300000000003</real>
		<key>BfOddsAway</key>
		<real>11</real>
		<key>BfOddsDraw</key>
		<real>6.4000000000000004</real>
		<key>BfOddsHome</key>
		<real>1.3300000000000001</real>
		<key>BfPayoutAway</key>
		<real>-1.8134999999999999</real>
		<key>BfPayoutDraw</key>
		<real>-67.373900000000006</real>
		<key>BfPayoutHome</key>
		<real>14.046200000000001</real>
		<key>Classifnication</key>
		<integer>1</integer>
		<key>EventId</key>
		<integer>29190186</integer>
		<key>EventTypeId</key>
		<integer>1</integer>
		<key>HomeTeam</key>
		<string>曼彻斯特城</string>
		<key>HomeTeamId</key>
		<string>47999</string>
		<key>IsTutorial</key>
		<false/>
		<key>KellyAway</key>
		<real>46.918599999999998</real>
		<key>KellyDraw</key>
		<real>17.033999999999999</real>
		<key>KellyHome</key>
		<real>2.1282000000000001</real>
		<key>LeagueId</key>
		<string>80</string>
		<key>MatchTime</key>
		<string>2019-04-18T03:00:00</string>
		<key>MaxLastOdds</key>
		<integer>1</integer>
		<key>MaxTeamId</key>
		<integer>47999</integer>
		<key>MaxTradedChange</key>
		<real>1753251.9700000007</real>
		<key>MaxUpdateTime</key>
		<string>2019-04-18T00:59:08</string>
		<key>MediaIndexAway</key>
		<integer>0</integer>
		<key>MediaIndexDraw</key>
		<integer>0</integer>
		<key>MediaIndexHome</key>
		<integer>0</integer>
		<key>SortName</key>
		<string>冠军杯</string>
		<key>UnusualHot</key>
		<integer>0</integer>
		<key>UnusualIndex</key>
		<integer>0</integer>
		<key>UnusualPayout</key>
		<integer>0</integer>
		<key>awayScore</key>
		<string>3</string>
		<key>dateSeconds</key>
		<integer>1555527600</integer>
		<key>homeScore</key>
		<string>4</string>
		<key>recommendType</key>
		<integer>1</integer>
		<key>resultType</key>
		<integer>1</integer>
		<key>score</key>
		<string>4:3</string>
		<key>totalPAmount</key>
		<real>23854789.77</real>
		<key>updateSeconds</key>
		<integer>1555520348</integer>
	</dict>
	<key>29203149</key>
	<dict>
		<key>AsianAvrLet</key>
		<string>-1.75</string>
		<key>AwayTeam</key>
		<string>布莱顿</string>
		<key>AwayTeamId</key>
		<string>18567</string>
		<key>BfAmountAway</key>
		<real>984519.55000000005</real>
		<key>BfAmountDraw</key>
		<real>1071085.3500000001</real>
		<key>BfAmountHome</key>
		<real>25817429.079999998</real>
		<key>BfIndexAway</key>
		<real>26.304099999999998</real>
		<key>BfIndexDraw</key>
		<real>12.3825</real>
		<key>BfIndexHome</key>
		<real>61.313400000000001</real>
		<key>BfOddsAway</key>
		<real>16.5</real>
		<key>BfOddsDraw</key>
		<real>6.7999999999999998</real>
		<key>BfOddsHome</key>
		<real>1.27</real>
		<key>BfPayoutAway</key>
		<real>-48.700499999999998</real>
		<key>BfPayoutDraw</key>
		<real>-75.851200000000006</real>
		<key>BfPayoutHome</key>
		<real>19.5762</real>
		<key>Classifnication</key>
		<integer>1</integer>
		<key>EventId</key>
		<integer>29203149</integer>
		<key>EventTypeId</key>
		<integer>1</integer>
		<key>HomeTeam</key>
		<string>托特纳姆热刺</string>
		<key>HomeTeamId</key>
		<string>48224</string>
		<key>IsTutorial</key>
		<false/>
		<key>KellyAway</key>
		<real>136.54769999999999</real>
		<key>KellyDraw</key>
		<real>39.558300000000003</real>
		<key>KellyHome</key>
		<real>3.7498</real>
		<key>LeagueId</key>
		<string>287</string>
		<key>MatchTime</key>
		<string>2019-04-24T02:45:00</string>
		<key>MaxLastOdds</key>
		<integer>1</integer>
		<key>MaxTeamId</key>
		<integer>48224</integer>
		<key>MaxTradedChange</key>
		<real>3029810.0099999998</real>
		<key>MaxUpdateTime</key>
		<string>2019-04-24T01:46:06</string>
		<key>MediaIndexAway</key>
		<integer>0</integer>
		<key>MediaIndexDraw</key>
		<integer>0</integer>
		<key>MediaIndexHome</key>
		<integer>0</integer>
		<key>SortName</key>
		<string>英超</string>
		<key>UnusualHot</key>
		<integer>0</integer>
		<key>UnusualIndex</key>
		<integer>0</integer>
		<key>UnusualPayout</key>
		<integer>0</integer>
		<key>awayScore</key>
		<string>0</string>
		<key>dateSeconds</key>
		<integer>1556045100</integer>
		<key>homeScore</key>
		<string>1</string>
		<key>recommendType</key>
		<integer>1</integer>
		<key>resultType</key>
		<integer>1</integer>
		<key>score</key>
		<string>1:0</string>
		<key>totalPAmount</key>
		<real>27873033.98</real>
		<key>updateSeconds</key>
		<integer>1556041566</integer>
	</dict>
	<key>29227406</key>
	<dict>
		<key>AsianAvrLet</key>
		<string>-1.5</string>
		<key>AwayTeam</key>
		<string>昂热</string>
		<key>AwayTeamId</key>
		<string>473963</string>
		<key>BfAmountAway</key>
		<real>196323.17000000001</real>
		<key>BfAmountDraw</key>
		<real>200695.45999999999</real>
		<key>BfAmountHome</key>
		<real>1178362.1100000001</real>
		<key>BfIndexAway</key>
		<real>41.166200000000003</real>
		<key>BfIndexDraw</key>
		<real>25.217199999999998</real>
		<key>BfIndexHome</key>
		<real>33.616500000000002</real>
		<key>BfOddsAway</key>
		<real>11</real>
		<key>BfOddsDraw</key>
		<real>6.2000000000000002</real>
		<key>BfOddsHome</key>
		<real>1.3500000000000001</real>
		<key>BfPayoutAway</key>
		<real>24.194900000000001</real>
		<key>BfPayoutDraw</key>
		<real>-23.921900000000001</real>
		<key>BfPayoutHome</key>
		<real>1.4180999999999999</real>
		<key>Classifnication</key>
		<integer>1</integer>
		<key>EventId</key>
		<integer>29227406</integer>
		<key>EventTypeId</key>
		<integer>1</integer>
		<key>HomeTeam</key>
		<string>里昂</string>
		<key>HomeTeamId</key>
		<string>55271</string>
		<key>IsTutorial</key>
		<false/>
		<key>KellyAway</key>
		<real>43.1629</real>
		<key>KellyDraw</key>
		<real>16.504100000000001</real>
		<key>KellyHome</key>
		<real>1.7301</real>
		<key>LeagueId</key>
		<string>318</string>
		<key>MatchTime</key>
		<string>2019-04-20T02:45:00</string>
		<key>MaxLastOdds</key>
		<integer>1</integer>
		<key>MaxTeamId</key>
		<integer>55271</integer>
		<key>MaxTradedChange</key>
		<real>154676.76000000001</real>
		<key>MaxUpdateTime</key>
		<string>2019-04-20T02:40:57</string>
		<key>MediaIndexAway</key>
		<integer>0</integer>
		<key>MediaIndexDraw</key>
		<integer>0</integer>
		<key>MediaIndexHome</key>
		<integer>0</integer>
		<key>SortName</key>
		<string>法甲</string>
		<key>UnusualHot</key>
		<integer>0</integer>
		<key>UnusualIndex</key>
		<integer>0</integer>
		<key>UnusualPayout</key>
		<integer>0</integer>
		<key>awayScore</key>
		<string>1</string>
		<key>dateSeconds</key>
		<integer>1555699500</integer>
		<key>homeScore</key>
		<string>2</string>
		<key>recommendType</key>
		<integer>1</integer>
		<key>resultType</key>
		<integer>1</integer>
		<key>score</key>
		<string>2:1</string>
		<key>totalPAmount</key>
		<real>1575380.74</real>
		<key>updateSeconds</key>
		<integer>1555699257</integer>
	</dict>
	<key>29235515</key>
	<dict>
		<key>AsianAvrLet</key>
		<string>-0.25</string>
		<key>AwayTeam</key>
		<string>南安普敦</string>
		<key>AwayTeamId</key>
		<string>58943</string>
		<key>BfAmountAway</key>
		<real>1314589.7</real>
		<key>BfAmountDraw</key>
		<real>1291307.1000000001</real>
		<key>BfAmountHome</key>
		<real>2932780.6899999999</real>
		<key>BfIndexAway</key>
		<real>29.717400000000001</real>
		<key>BfIndexDraw</key>
		<real>28.656500000000001</real>
		<key>BfIndexHome</key>
		<real>41.626100000000001</real>
		<key>BfOddsAway</key>
		<real>3.6499999999999999</real>
		<key>BfOddsDraw</key>
		<real>3.5499999999999998</real>
		<key>BfOddsHome</key>
		<real>2.2599999999999998</real>
		<key>BfPayoutAway</key>
		<real>-14.1919</real>
		<key>BfPayoutDraw</key>
		<real>-17.254999999999999</real>
		<key>BfPayoutHome</key>
		<real>20.194299999999998</real>
		<key>Classifnication</key>
		<integer>1</integer>
		<key>EventId</key>
		<integer>29235515</integer>
		<key>EventTypeId</key>
		<integer>1</integer>
		<key>HomeTeam</key>
		<string>沃特福德</string>
		<key>HomeTeamId</key>
		<string>56301</string>
		<key>IsTutorial</key>
		<false/>
		<key>KellyAway</key>
		<real>15.068300000000001</real>
		<key>KellyDraw</key>
		<real>4.9000000000000004</real>
		<key>KellyHome</key>
		<real>3.2481</real>
		<key>LeagueId</key>
		<string>287</string>
		<key>MatchTime</key>
		<string>2019-04-24T02:45:00</string>
		<key>MaxLastOdds</key>
		<integer>2</integer>
		<key>MaxTeamId</key>
		<integer>56301</integer>
		<key>MaxTradedChange</key>
		<real>164085.90000000014</real>
		<key>MaxUpdateTime</key>
		<string>2019-04-24T01:40:42</string>
		<key>MediaIndexAway</key>
		<integer>0</integer>
		<key>MediaIndexDraw</key>
		<integer>0</integer>
		<key>MediaIndexHome</key>
		<integer>0</integer>
		<key>SortName</key>
		<string>英超</string>
		<key>UnusualHot</key>
		<integer>1</integer>
		<key>UnusualIndex</key>
		<integer>0</integer>
		<key>UnusualPayout</key>
		<integer>0</integer>
		<key>awayScore</key>
		<string>1</string>
		<key>dateSeconds</key>
		<integer>1556045100</integer>
		<key>homeScore</key>
		<string>1</string>
		<key>recommendType</key>
		<integer>6</integer>
		<key>resultType</key>
		<integer>2</integer>
		<key>score</key>
		<string>1:1</string>
		<key>totalPAmount</key>
		<real>5538677.4900000002</real>
		<key>updateSeconds</key>
		<integer>1556041242</integer>
	</dict>
	<key>29236641</key>
	<dict>
		<key>AsianAvrLet</key>
		<string>-1.75</string>
		<key>AwayTeam</key>
		<string>巴列卡诺</string>
		<key>AwayTeamId</key>
		<string>10779</string>
		<key>BfAmountAway</key>
		<real>125296.78</real>
		<key>BfAmountDraw</key>
		<real>265373.27000000002</real>
		<key>BfAmountHome</key>
		<real>3411815.9300000002</real>
		<key>BfIndexAway</key>
		<real>19.3567</real>
		<key>BfIndexDraw</key>
		<real>24.190999999999999</real>
		<key>BfIndexHome</key>
		<real>56.452300000000001</real>
		<key>BfOddsAway</key>
		<real>13</real>
		<key>BfOddsDraw</key>
		<real>7.7999999999999998</real>
		<key>BfOddsHome</key>
		<real>1.26</real>
		<key>BfPayoutAway</key>
		<real>-60.296799999999998</real>
		<key>BfPayoutDraw</key>
		<real>-50.380899999999997</real>
		<key>BfPayoutHome</key>
		<real>15.791399999999999</real>
		<key>Classifnication</key>
		<integer>1</integer>
		<key>EventId</key>
		<integer>29236641</integer>
		<key>EventTypeId</key>
		<integer>1</integer>
		<key>HomeTeam</key>
		<string>塞维利亚</string>
		<key>HomeTeamId</key>
		<string>44508</string>
		<key>IsTutorial</key>
		<false/>
		<key>KellyAway</key>
		<real>72.347099999999998</real>
		<key>KellyDraw</key>
		<real>62.063499999999998</real>
		<key>KellyHome</key>
		<real>4.8609</real>
		<key>LeagueId</key>
		<string>514</string>
		<key>MatchTime</key>
		<string>2019-04-26T01:30:00</string>
		<key>MaxLastOdds</key>
		<integer>1</integer>
		<key>MaxTeamId</key>
		<integer>44508</integer>
		<key>MaxTradedChange</key>
		<real>541290.33999999985</real>
		<key>MaxUpdateTime</key>
		<string>2019-04-26T00:30:54</string>
		<key>MediaIndexAway</key>
		<integer>0</integer>
		<key>MediaIndexDraw</key>
		<integer>0</integer>
		<key>MediaIndexHome</key>
		<integer>0</integer>
		<key>SortName</key>
		<string>西甲</string>
		<key>UnusualHot</key>
		<integer>1</integer>
		<key>UnusualIndex</key>
		<integer>0</integer>
		<key>UnusualPayout</key>
		<integer>0</integer>
		<key>awayScore</key>
		<string>0</string>
		<key>dateSeconds</key>
		<integer>1556213400</integer>
		<key>homeScore</key>
		<string>5</string>
		<key>recommendType</key>
		<integer>1</integer>
		<key>resultType</key>
		<integer>1</integer>
		<key>score</key>
		<string>5:0</string>
		<key>totalPAmount</key>
		<real>3802485.98</real>
		<key>updateSeconds</key>
		<integer>1556209854</integer>
	</dict>
	<key>29237006</key>
	<dict>
		<key>AsianAvrLet</key>
		<string>-1.75</string>
		<key>AwayTeam</key>
		<string>赫拉克勒斯</string>
		<key>AwayTeamId</key>
		<string>419132</string>
		<key>BfAmountAway</key>
		<real>48072.730000000003</real>
		<key>BfAmountDraw</key>
		<real>28212.560000000001</real>
		<key>BfAmountHome</key>
		<real>121252.24000000001</real>
		<key>BfIndexAway</key>
		<real>57.549999999999997</real>
		<key>BfIndexDraw</key>
		<real>22.764099999999999</real>
		<key>BfIndexHome</key>
		<real>19.6859</real>
		<key>BfOddsAway</key>
		<real>9.1999999999999993</real>
		<key>BfOddsDraw</key>
		<real>6.7999999999999998</real>
		<key>BfOddsHome</key>
		<real>1.3500000000000001</real>
		<key>BfPayoutAway</key>
		<real>140.98759999999999</real>
		<key>BfPayoutDraw</key>
		<real>-4.6768000000000001</real>
		<key>BfPayoutHome</key>
		<real>-17.566199999999998</real>
		<key>Classifnication</key>
		<integer>0</integer>
		<key>EventId</key>
		<integer>29237006</integer>
		<key>EventTypeId</key>
		<integer>1</integer>
		<key>HomeTeam</key>
		<string>阿尔克马尔</string>
		<key>HomeTeamId</key>
		<string>9220660</string>
		<key>IsTutorial</key>
		<false/>
		<key>KellyAway</key>
		<real>32.991500000000002</real>
		<key>KellyDraw</key>
		<real>21.727599999999999</real>
		<key>KellyHome</key>
		<real>1.7474000000000001</real>
		<key>LeagueId</key>
		<string>225</string>
		<key>MatchTime</key>
		<string>2019-04-24T01:45:00</string>
		<key>MaxLastOdds</key>
		<integer>1</integer>
		<key>MaxTeamId</key>
		<integer>9220660</integer>
		<key>MaxTradedChange</key>
		<real>11544.600000000006</real>
		<key>MaxUpdateTime</key>
		<string>2019-04-24T01:20:08</string>
		<key>MediaIndexAway</key>
		<integer>0</integer>
		<key>MediaIndexDraw</key>
		<integer>0</integer>
		<key>MediaIndexHome</key>
		<integer>0</integer>
		<key>SortName</key>
		<string>荷甲</string>
		<key>UnusualHot</key>
		<integer>0</integer>
		<key>UnusualIndex</key>
		<integer>0</integer>
		<key>UnusualPayout</key>
		<integer>1</integer>
		<key>awayScore</key>
		<string>1</string>
		<key>dateSeconds</key>
		<integer>1556041500</integer>
		<key>homeScore</key>
		<string>2</string>
		<key>recommendType</key>
		<integer>4</integer>
		<key>resultType</key>
		<integer>1</integer>
		<key>score</key>
		<string>2:1</string>
		<key>totalPAmount</key>
		<real>197537.53</real>
		<key>updateSeconds</key>
		<integer>1556040008</integer>
	</dict>
	<key>29237055</key>
	<dict>
		<key>AsianAvrLet</key>
		<string>+1.5</string>
		<key>AwayTeam</key>
		<string>PSV埃因霍温</string>
		<key>AwayTeamId</key>
		<string>48451</string>
		<key>BfAmountAway</key>
		<real>216916.45000000001</real>
		<key>BfAmountDraw</key>
		<real>32043.580000000002</real>
		<key>BfAmountHome</key>
		<real>54003.599999999999</real>
		<key>BfIndexAway</key>
		<real>35.066699999999997</real>
		<key>BfIndexDraw</key>
		<real>20.463899999999999</real>
		<key>BfIndexHome</key>
		<real>44.4694</real>
		<key>BfOddsAway</key>
		<real>1.4099999999999999</real>
		<key>BfOddsDraw</key>
		<real>6.2000000000000002</real>
		<key>BfOddsHome</key>
		<real>8</real>
		<key>BfPayoutAway</key>
		<real>5.1143000000000001</real>
		<key>BfPayoutDraw</key>
		<real>-38.658099999999997</real>
		<key>BfPayoutHome</key>
		<real>33.299599999999998</real>
		<key>Classifnication</key>
		<integer>0</integer>
		<key>EventId</key>
		<integer>29237055</integer>
		<key>EventTypeId</key>
		<integer>1</integer>
		<key>HomeTeam</key>
		<string>威廉二世</string>
		<key>HomeTeamId</key>
		<string>48455</string>
		<key>IsTutorial</key>
		<false/>
		<key>KellyAway</key>
		<real>4.8834999999999997</real>
		<key>KellyDraw</key>
		<real>29.3079</real>
		<key>KellyHome</key>
		<real>42.0197</real>
		<key>LeagueId</key>
		<string>225</string>
		<key>MatchTime</key>
		<string>2019-04-26T02:45:00</string>
		<key>MaxLastOdds</key>
		<integer>1</integer>
		<key>MaxTeamId</key>
		<integer>48451</integer>
		<key>MaxTradedChange</key>
		<real>21835.210000000006</real>
		<key>MaxUpdateTime</key>
		<string>2019-04-25T16:44:44</string>
		<key>MediaIndexAway</key>
		<integer>0</integer>
		<key>MediaIndexDraw</key>
		<integer>0</integer>
		<key>MediaIndexHome</key>
		<integer>0</integer>
		<key>SortName</key>
		<string>荷甲</string>
		<key>UnusualHot</key>
		<integer>0</integer>
		<key>UnusualIndex</key>
		<integer>0</integer>
		<key>UnusualPayout</key>
		<integer>0</integer>
		<key>awayScore</key>
		<string>3</string>
		<key>dateSeconds</key>
		<integer>1556217900</integer>
		<key>homeScore</key>
		<string>0</string>
		<key>recommendType</key>
		<integer>4</integer>
		<key>resultType</key>
		<integer>4</integer>
		<key>score</key>
		<string>0:3</string>
		<key>totalPAmount</key>
		<real>302963.63</real>
		<key>updateSeconds</key>
		<integer>1556181884</integer>
	</dict>
</dict>
</plist>
