<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>29216736</key>
	<dict>
		<key>AsianAvrLet</key>
		<string>+0.25</string>
		<key>AwayTeam</key>
		<string>法兰克福</string>
		<key>AwayTeamId</key>
		<string>347774</string>
		<key>BfAmountAway</key>
		<real>421061.53999999998</real>
		<key>BfAmountDraw</key>
		<real>175940.42000000001</real>
		<key>BfAmountHome</key>
		<real>202403.34</real>
		<key>BfIndexAway</key>
		<real>45.699300000000001</real>
		<key>BfIndexDraw</key>
		<real>28.846</real>
		<key>BfIndexHome</key>
		<real>25.454599999999999</real>
		<key>BfOddsAway</key>
		<real>2.48</real>
		<key>BfOddsDraw</key>
		<real>3.8500000000000001</real>
		<key>BfOddsHome</key>
		<real>2.96</real>
		<key>BfPayoutAway</key>
		<real>32.982900000000001</real>
		<key>BfPayoutDraw</key>
		<real>-16.0593</real>
		<key>BfPayoutHome</key>
		<real>-25.9282</real>
		<key>Classifnication</key>
		<integer>1</integer>
		<key>EventId</key>
		<integer>29216736</integer>
		<key>EventTypeId</key>
		<integer>1</integer>
		<key>HomeTeam</key>
		<string>沃尔夫斯堡</string>
		<key>HomeTeamId</key>
		<string>44521</string>
		<key>IsTutorial</key>
		<false/>
		<key>KellyAway</key>
		<real>1.645</real>
		<key>KellyDraw</key>
		<real>15.5296</real>
		<key>KellyHome</key>
		<real>5.4112999999999998</real>
		<key>LeagueId</key>
		<string>792</string>
		<key>MatchTime</key>
		<string>2019-04-23T02:30:00</string>
		<key>MaxLastOdds</key>
		<integer>2</integer>
		<key>MaxTeamId</key>
		<integer>347774</integer>
		<key>MaxTradedChange</key>
		<real>188498.37000000002</real>
		<key>MaxUpdateTime</key>
		<string>2019-04-22T05:46:09</string>
		<key>MediaIndexAway</key>
		<integer>0</integer>
		<key>MediaIndexDraw</key>
		<integer>0</integer>
		<key>MediaIndexHome</key>
		<integer>0</integer>
		<key>SortName</key>
		<string>德甲</string>
		<key>UnusualHot</key>
		<integer>0</integer>
		<key>UnusualIndex</key>
		<integer>0</integer>
		<key>UnusualPayout</key>
		<integer>0</integer>
		<key>awayScore</key>
		<string>1</string>
		<key>dateSeconds</key>
		<integer>1555957800</integer>
		<key>homeScore</key>
		<string>1</string>
		<key>recommendType</key>
		<integer>3</integer>
		<key>resultType</key>
		<integer>2</integer>
		<key>score</key>
		<string>1:1</string>
		<key>totalPAmount</key>
		<real>799405.30000000005</real>
		<key>updateSeconds</key>
		<integer>1555883169</integer>
	</dict>
	<key>29224764</key>
	<dict>
		<key>AsianAvrLet</key>
		<string>-0.25</string>
		<key>AwayTeam</key>
		<string>亚特兰大</string>
		<key>AwayTeamId</key>
		<string>215817</string>
		<key>BfAmountAway</key>
		<real>981729.18999999994</real>
		<key>BfAmountDraw</key>
		<real>1020116.98</real>
		<key>BfAmountHome</key>
		<real>4522226.5499999998</real>
		<key>BfIndexAway</key>
		<real>20.040800000000001</real>
		<key>BfIndexDraw</key>
		<real>21.911100000000001</real>
		<key>BfIndexHome</key>
		<real>58.048099999999998</real>
		<key>BfOddsAway</key>
		<real>3.5499999999999998</real>
		<key>BfOddsDraw</key>
		<real>3.6499999999999999</real>
		<key>BfOddsHome</key>
		<real>2.2400000000000002</real>
		<key>BfPayoutAway</key>
		<real>-46.603900000000003</real>
		<key>BfPayoutDraw</key>
		<real>-41.620800000000003</real>
		<key>BfPayoutHome</key>
		<real>54.661700000000003</real>
		<key>Classifnication</key>
		<integer>1</integer>
		<key>EventId</key>
		<integer>29224764</integer>
		<key>EventTypeId</key>
		<integer>1</integer>
		<key>HomeTeam</key>
		<string>那不勒斯</string>
		<key>HomeTeamId</key>
		<string>676464</string>
		<key>IsTutorial</key>
		<false/>
		<key>KellyAway</key>
		<real>6.7797000000000001</real>
		<key>KellyDraw</key>
		<real>6.2226999999999997</real>
		<key>KellyHome</key>
		<real>4.5883000000000003</real>
		<key>LeagueId</key>
		<string>558</string>
		<key>MatchTime</key>
		<string>2019-04-23T01:00:00</string>
		<key>MaxLastOdds</key>
		<integer>2</integer>
		<key>MaxTeamId</key>
		<integer>676464</integer>
		<key>MaxTradedChange</key>
		<real>480194.62000000011</real>
		<key>MaxUpdateTime</key>
		<string>2019-04-23T00:59:16</string>
		<key>MediaIndexAway</key>
		<integer>0</integer>
		<key>MediaIndexDraw</key>
		<integer>0</integer>
		<key>MediaIndexHome</key>
		<integer>0</integer>
		<key>SortName</key>
		<string>意甲</string>
		<key>UnusualHot</key>
		<integer>1</integer>
		<key>UnusualIndex</key>
		<integer>0</integer>
		<key>UnusualPayout</key>
		<integer>0</integer>
		<key>awayScore</key>
		<string>2</string>
		<key>dateSeconds</key>
		<integer>1555952400</integer>
		<key>homeScore</key>
		<string>1</string>
		<key>recommendType</key>
		<integer>1</integer>
		<key>resultType</key>
		<integer>4</integer>
		<key>score</key>
		<string>1:2</string>
		<key>totalPAmount</key>
		<real>6524072.7200000007</real>
		<key>updateSeconds</key>
		<integer>1555952356</integer>
	</dict>
</dict>
</plist>
