<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>29140697</key>
	<dict>
		<key>AsianAvrLet</key>
		<string>-0.5</string>
		<key>AwayTeam</key>
		<string>利物浦</string>
		<key>AwayTeamId</key>
		<string>56323</string>
		<key>BfAmountAway</key>
		<real>5873254.1299999999</real>
		<key>BfAmountDraw</key>
		<real>4253772.4199999999</real>
		<key>BfAmountHome</key>
		<real>23408338.960000001</real>
		<key>BfIndexAway</key>
		<real>24.872299999999999</real>
		<key>BfIndexDraw</key>
		<real>17.5243</real>
		<key>BfIndexHome</key>
		<real>57.603400000000001</real>
		<key>BfOddsAway</key>
		<real>3.8999999999999999</real>
		<key>BfOddsDraw</key>
		<real>3.7000000000000002</real>
		<key>BfOddsHome</key>
		<real>2.1000000000000001</real>
		<key>BfPayoutAway</key>
		<real>-34.328899999999997</real>
		<key>BfPayoutDraw</key>
		<real>-53.729999999999997</real>
		<key>BfPayoutHome</key>
		<real>52.091799999999999</real>
		<key>Classifnication</key>
		<integer>1</integer>
		<key>EventId</key>
		<integer>29140697</integer>
		<key>EventTypeId</key>
		<integer>1</integer>
		<key>HomeTeam</key>
		<string>拜仁慕尼黑</string>
		<key>HomeTeamId</key>
		<string>5774350</string>
		<key>IsTutorial</key>
		<false/>
		<key>KellyAway</key>
		<real>27.173300000000001</real>
		<key>KellyDraw</key>
		<real>4.1576000000000004</real>
		<key>KellyHome</key>
		<real>3.9068000000000001</real>
		<key>LeagueId</key>
		<string>80</string>
		<key>MatchTime</key>
		<string>2019-03-14T04:00:00</string>
		<key>MaxLastOdds</key>
		<integer>2</integer>
		<key>MaxTeamId</key>
		<integer>5774350</integer>
		<key>MaxTradedChange</key>
		<real>1143290.3399999999</real>
		<key>MaxUpdateTime</key>
		<string>2019-03-14T03:58:22</string>
		<key>MediaIndexAway</key>
		<integer>0</integer>
		<key>MediaIndexDraw</key>
		<integer>0</integer>
		<key>MediaIndexHome</key>
		<integer>0</integer>
		<key>SortName</key>
		<string>冠军杯</string>
		<key>UnusualHot</key>
		<integer>1</integer>
		<key>UnusualIndex</key>
		<integer>0</integer>
		<key>UnusualPayout</key>
		<integer>0</integer>
		<key>awayScore</key>
		<string>3</string>
		<key>dateSeconds</key>
		<integer>1552507200</integer>
		<key>homeScore</key>
		<string>1</string>
		<key>recommendType</key>
		<integer>6</integer>
		<key>resultType</key>
		<integer>4</integer>
		<key>score</key>
		<string>1:3</string>
		<key>totalPAmount</key>
		<real>33535365.509999998</real>
		<key>updateSeconds</key>
		<integer>1552507102</integer>
	</dict>
	<key>29140698</key>
	<dict>
		<key>AsianAvrLet</key>
		<string>-1.75</string>
		<key>AwayTeam</key>
		<string>里昂</string>
		<key>AwayTeamId</key>
		<string>55271</string>
		<key>BfAmountAway</key>
		<real>775391.26000000001</real>
		<key>BfAmountDraw</key>
		<real>1055446.1899999999</real>
		<key>BfAmountHome</key>
		<real>19504900.690000001</real>
		<key>BfIndexAway</key>
		<real>24.553799999999999</real>
		<key>BfIndexDraw</key>
		<real>18.799299999999999</real>
		<key>BfIndexHome</key>
		<real>56.646900000000002</real>
		<key>BfOddsAway</key>
		<real>13</real>
		<key>BfOddsDraw</key>
		<real>7.7999999999999998</real>
		<key>BfOddsHome</key>
		<real>1.26</real>
		<key>BfPayoutAway</key>
		<real>-50.228000000000002</real>
		<key>BfPayoutDraw</key>
		<real>-61.892800000000001</real>
		<key>BfPayoutHome</key>
		<real>14.826499999999999</real>
		<key>Classifnication</key>
		<integer>1</integer>
		<key>EventId</key>
		<integer>29140698</integer>
		<key>EventTypeId</key>
		<integer>1</integer>
		<key>HomeTeam</key>
		<string>巴塞罗那</string>
		<key>HomeTeamId</key>
		<string>55270</string>
		<key>IsTutorial</key>
		<false/>
		<key>KellyAway</key>
		<real>42.919800000000002</real>
		<key>KellyDraw</key>
		<real>51.591900000000003</real>
		<key>KellyHome</key>
		<real>1.6346000000000001</real>
		<key>LeagueId</key>
		<string>80</string>
		<key>MatchTime</key>
		<string>2019-03-14T04:00:00</string>
		<key>MaxLastOdds</key>
		<integer>1</integer>
		<key>MaxTeamId</key>
		<integer>55270</integer>
		<key>MaxTradedChange</key>
		<real>1426886.7699999996</real>
		<key>MaxUpdateTime</key>
		<string>2019-03-14T03:37:21</string>
		<key>MediaIndexAway</key>
		<integer>0</integer>
		<key>MediaIndexDraw</key>
		<integer>0</integer>
		<key>MediaIndexHome</key>
		<integer>0</integer>
		<key>SortName</key>
		<string>冠军杯</string>
		<key>UnusualHot</key>
		<integer>0</integer>
		<key>UnusualIndex</key>
		<integer>0</integer>
		<key>UnusualPayout</key>
		<integer>0</integer>
		<key>awayScore</key>
		<string>1</string>
		<key>dateSeconds</key>
		<integer>1552507200</integer>
		<key>homeScore</key>
		<string>5</string>
		<key>recommendType</key>
		<integer>1</integer>
		<key>resultType</key>
		<integer>1</integer>
		<key>score</key>
		<string>5:1</string>
		<key>totalPAmount</key>
		<real>21335738.140000004</real>
		<key>updateSeconds</key>
		<integer>1552505841</integer>
	</dict>
	<key>29142305</key>
	<dict>
		<key>AsianAvrLet</key>
		<string>-0.75</string>
		<key>AwayTeam</key>
		<string>马德里竞技</string>
		<key>AwayTeamId</key>
		<string>41433</string>
		<key>BfAmountAway</key>
		<real>1641573.53</real>
		<key>BfAmountDraw</key>
		<real>1750065.79</real>
		<key>BfAmountHome</key>
		<real>11383815.5</real>
		<key>BfIndexAway</key>
		<real>26.363</real>
		<key>BfIndexDraw</key>
		<real>18.248999999999999</real>
		<key>BfIndexHome</key>
		<real>55.387999999999998</real>
		<key>BfOddsAway</key>
		<real>5.7000000000000002</real>
		<key>BfOddsDraw</key>
		<real>3.7000000000000002</real>
		<key>BfOddsHome</key>
		<real>1.8</real>
		<key>BfPayoutAway</key>
		<real>-34.9998</real>
		<key>BfPayoutDraw</key>
		<real>-55.005600000000001</real>
		<key>BfPayoutHome</key>
		<real>36.563800000000001</real>
		<key>Classifnication</key>
		<integer>1</integer>
		<key>EventId</key>
		<integer>29142305</integer>
		<key>EventTypeId</key>
		<integer>1</integer>
		<key>HomeTeam</key>
		<string>尤文图斯</string>
		<key>HomeTeamId</key>
		<string>2423</string>
		<key>IsTutorial</key>
		<false/>
		<key>KellyAway</key>
		<real>32.508400000000002</real>
		<key>KellyDraw</key>
		<real>5.3493000000000004</real>
		<key>KellyHome</key>
		<real>2.0386000000000002</real>
		<key>LeagueId</key>
		<string>80</string>
		<key>MatchTime</key>
		<string>2019-03-13T04:00:00</string>
		<key>MaxLastOdds</key>
		<integer>1</integer>
		<key>MaxTeamId</key>
		<integer>2423</integer>
		<key>MaxTradedChange</key>
		<real>599854.60000000009</real>
		<key>MaxUpdateTime</key>
		<string>2019-03-12T21:56:40</string>
		<key>MediaIndexAway</key>
		<integer>0</integer>
		<key>MediaIndexDraw</key>
		<integer>0</integer>
		<key>MediaIndexHome</key>
		<integer>0</integer>
		<key>SortName</key>
		<string>冠军杯</string>
		<key>UnusualHot</key>
		<integer>1</integer>
		<key>UnusualIndex</key>
		<integer>0</integer>
		<key>UnusualPayout</key>
		<integer>0</integer>
		<key>awayScore</key>
		<string>0</string>
		<key>dateSeconds</key>
		<integer>1552420800</integer>
		<key>homeScore</key>
		<string>3</string>
		<key>recommendType</key>
		<integer>1</integer>
		<key>resultType</key>
		<integer>1</integer>
		<key>score</key>
		<string>3:0</string>
		<key>totalPAmount</key>
		<real>14775454.82</real>
		<key>updateSeconds</key>
		<integer>1552399000</integer>
	</dict>
	<key>29144771</key>
	<dict>
		<key>AsianAvrLet</key>
		<string>-1.5</string>
		<key>AwayTeam</key>
		<string>基辅迪纳摩</string>
		<key>AwayTeamId</key>
		<string>238549</string>
		<key>BfAmountAway</key>
		<real>456784.60999999999</real>
		<key>BfAmountDraw</key>
		<real>445453.27000000002</real>
		<key>BfAmountHome</key>
		<real>9758333.5500000007</real>
		<key>BfIndexAway</key>
		<real>29.024999999999999</real>
		<key>BfIndexDraw</key>
		<real>12.4262</real>
		<key>BfIndexHome</key>
		<real>58.548900000000003</real>
		<key>BfOddsAway</key>
		<real>13.5</real>
		<key>BfOddsDraw</key>
		<real>6</real>
		<key>BfOddsHome</key>
		<real>1.3100000000000001</real>
		<key>BfPayoutAway</key>
		<real>-40.533299999999997</real>
		<key>BfPayoutDraw</key>
		<real>-74.5411</real>
		<key>BfPayoutHome</key>
		<real>19.9558</real>
		<key>Classifnication</key>
		<integer>1</integer>
		<key>EventId</key>
		<integer>29144771</integer>
		<key>EventTypeId</key>
		<integer>1</integer>
		<key>HomeTeam</key>
		<string>切尔西</string>
		<key>HomeTeamId</key>
		<string>55190</string>
		<key>IsTutorial</key>
		<false/>
		<key>KellyAway</key>
		<real>108.7563</real>
		<key>KellyDraw</key>
		<real>25.628799999999998</real>
		<key>KellyHome</key>
		<real>1.5962000000000001</real>
		<key>LeagueId</key>
		<string>145</string>
		<key>MatchTime</key>
		<string>2019-03-08T04:00:00</string>
		<key>MaxLastOdds</key>
		<integer>1</integer>
		<key>MaxTeamId</key>
		<integer>55190</integer>
		<key>MaxTradedChange</key>
		<real>777105.98999999976</real>
		<key>MaxUpdateTime</key>
		<string>2019-03-08T02:36:53</string>
		<key>MediaIndexAway</key>
		<integer>0</integer>
		<key>MediaIndexDraw</key>
		<integer>0</integer>
		<key>MediaIndexHome</key>
		<integer>0</integer>
		<key>SortName</key>
		<string>欧霸杯</string>
		<key>UnusualHot</key>
		<integer>0</integer>
		<key>UnusualIndex</key>
		<integer>0</integer>
		<key>UnusualPayout</key>
		<integer>0</integer>
		<key>awayScore</key>
		<string>0</string>
		<key>dateSeconds</key>
		<integer>1551988800</integer>
		<key>homeScore</key>
		<string>3</string>
		<key>recommendType</key>
		<integer>1</integer>
		<key>resultType</key>
		<integer>1</integer>
		<key>score</key>
		<string>3:0</string>
		<key>totalPAmount</key>
		<real>10660571.43</real>
		<key>updateSeconds</key>
		<integer>1551983813</integer>
	</dict>
	<key>29184555</key>
	<dict>
		<key>AsianAvrLet</key>
		<string>+0.25</string>
		<key>AwayTeam</key>
		<string>尤文图斯</string>
		<key>AwayTeamId</key>
		<string>2423</string>
		<key>BfAmountAway</key>
		<real>1427218.3799999999</real>
		<key>BfAmountDraw</key>
		<real>568652.23999999999</real>
		<key>BfAmountHome</key>
		<real>522480.60999999999</real>
		<key>BfIndexAway</key>
		<real>46.668300000000002</real>
		<key>BfIndexDraw</key>
		<real>27.399000000000001</real>
		<key>BfIndexHome</key>
		<real>25.932700000000001</real>
		<key>BfOddsAway</key>
		<real>2.3799999999999999</real>
		<key>BfOddsDraw</key>
		<real>3.5</real>
		<key>BfOddsHome</key>
		<real>3.4500000000000002</real>
		<key>BfPayoutAway</key>
		<real>31.843499999999999</real>
		<key>BfPayoutDraw</key>
		<real>-22.5944</real>
		<key>BfPayoutHome</key>
		<real>-26.737100000000002</real>
		<key>Classifnication</key>
		<integer>1</integer>
		<key>EventId</key>
		<integer>29184555</integer>
		<key>EventTypeId</key>
		<integer>1</integer>
		<key>HomeTeam</key>
		<string>阿贾克斯</string>
		<key>HomeTeamId</key>
		<string>2685</string>
		<key>IsTutorial</key>
		<false/>
		<key>KellyAway</key>
		<real>6.8125999999999998</real>
		<key>KellyDraw</key>
		<real>5.4635999999999996</real>
		<key>KellyHome</key>
		<real>10.529999999999999</real>
		<key>LeagueId</key>
		<string>80</string>
		<key>MatchTime</key>
		<string>2019-04-11T02:00:00</string>
		<key>MaxLastOdds</key>
		<integer>2</integer>
		<key>MaxTeamId</key>
		<integer>2423</integer>
		<key>MaxTradedChange</key>
		<real>99080.360000000102</real>
		<key>MaxUpdateTime</key>
		<string>2019-04-10T05:47:48</string>
		<key>MediaIndexAway</key>
		<integer>0</integer>
		<key>MediaIndexDraw</key>
		<integer>0</integer>
		<key>MediaIndexHome</key>
		<integer>0</integer>
		<key>SortName</key>
		<string>冠军杯</string>
		<key>UnusualHot</key>
		<integer>0</integer>
		<key>UnusualIndex</key>
		<integer>0</integer>
		<key>UnusualPayout</key>
		<integer>0</integer>
		<key>awayScore</key>
		<string>1</string>
		<key>dateSeconds</key>
		<integer>1554919200</integer>
		<key>homeScore</key>
		<string>1</string>
		<key>recommendType</key>
		<integer>3</integer>
		<key>resultType</key>
		<integer>2</integer>
		<key>score</key>
		<string>1:1</string>
		<key>totalPAmount</key>
		<real>2518351.2299999995</real>
		<key>updateSeconds</key>
		<integer>1554846468</integer>
	</dict>
	<key>29184559</key>
	<dict>
		<key>AsianAvrLet</key>
		<string>-1.5</string>
		<key>AwayTeam</key>
		<string>波尔图</string>
		<key>AwayTeamId</key>
		<string>48785</string>
		<key>BfAmountAway</key>
		<real>141217.06</real>
		<key>BfAmountDraw</key>
		<real>158000.47</real>
		<key>BfAmountHome</key>
		<real>3004454.6499999999</real>
		<key>BfIndexAway</key>
		<real>25.887</real>
		<key>BfIndexDraw</key>
		<real>14.9773</real>
		<key>BfIndexHome</key>
		<real>59.1357</real>
		<key>BfOddsAway</key>
		<real>13</real>
		<key>BfOddsDraw</key>
		<real>6.5999999999999996</real>
		<key>BfOddsHome</key>
		<real>1.3100000000000001</real>
		<key>BfPayoutAway</key>
		<real>-47.924900000000001</real>
		<key>BfPayoutDraw</key>
		<real>-69.871200000000002</real>
		<key>BfPayoutHome</key>
		<real>18.959399999999999</real>
		<key>Classifnication</key>
		<integer>1</integer>
		<key>EventId</key>
		<integer>29184559</integer>
		<key>EventTypeId</key>
		<integer>1</integer>
		<key>HomeTeam</key>
		<string>利物浦</string>
		<key>HomeTeamId</key>
		<string>56323</string>
		<key>IsTutorial</key>
		<false/>
		<key>KellyAway</key>
		<real>65.184299999999993</real>
		<key>KellyDraw</key>
		<real>34.936399999999999</real>
		<key>KellyHome</key>
		<real>3.0314000000000001</real>
		<key>LeagueId</key>
		<string>80</string>
		<key>MatchTime</key>
		<string>2019-04-10T02:00:00</string>
		<key>MaxLastOdds</key>
		<integer>1</integer>
		<key>MaxTeamId</key>
		<integer>56323</integer>
		<key>MaxTradedChange</key>
		<real>689571.30999999994</real>
		<key>MaxUpdateTime</key>
		<string>2019-04-09T03:55:51</string>
		<key>MediaIndexAway</key>
		<integer>0</integer>
		<key>MediaIndexDraw</key>
		<integer>0</integer>
		<key>MediaIndexHome</key>
		<integer>0</integer>
		<key>SortName</key>
		<string>冠军杯</string>
		<key>UnusualHot</key>
		<integer>0</integer>
		<key>UnusualIndex</key>
		<integer>0</integer>
		<key>UnusualPayout</key>
		<integer>0</integer>
		<key>awayScore</key>
		<string>0</string>
		<key>dateSeconds</key>
		<integer>1554832800</integer>
		<key>homeScore</key>
		<string>2</string>
		<key>recommendType</key>
		<integer>1</integer>
		<key>resultType</key>
		<integer>1</integer>
		<key>score</key>
		<string>2:0</string>
		<key>totalPAmount</key>
		<real>3303672.1800000002</real>
		<key>updateSeconds</key>
		<integer>1554753351</integer>
	</dict>
	<key>29184560</key>
	<dict>
		<key>AsianAvrLet</key>
		<string>+0.5</string>
		<key>AwayTeam</key>
		<string>曼彻斯特城</string>
		<key>AwayTeamId</key>
		<string>47999</string>
		<key>BfAmountAway</key>
		<real>1321330.1899999999</real>
		<key>BfAmountDraw</key>
		<real>266494.90000000002</real>
		<key>BfAmountHome</key>
		<real>291680.59999999998</real>
		<key>BfIndexAway</key>
		<real>51.856999999999999</real>
		<key>BfIndexDraw</key>
		<real>21.590900000000001</real>
		<key>BfIndexHome</key>
		<real>26.552099999999999</real>
		<key>BfOddsAway</key>
		<real>1.9399999999999999</real>
		<key>BfOddsDraw</key>
		<real>3.9500000000000002</real>
		<key>BfOddsHome</key>
		<real>4.4000000000000004</real>
		<key>BfPayoutAway</key>
		<real>34.848599999999998</real>
		<key>BfPayoutDraw</key>
		<real>-43.8553</real>
		<key>BfPayoutHome</key>
		<real>-30.9541</real>
		<key>Classifnication</key>
		<integer>1</integer>
		<key>EventId</key>
		<integer>29184560</integer>
		<key>EventTypeId</key>
		<integer>1</integer>
		<key>HomeTeam</key>
		<string>托特纳姆热刺</string>
		<key>HomeTeamId</key>
		<string>48224</string>
		<key>IsTutorial</key>
		<false/>
		<key>KellyAway</key>
		<real>6.0441000000000003</real>
		<key>KellyDraw</key>
		<real>6.3482000000000003</real>
		<key>KellyHome</key>
		<real>8.9346999999999994</real>
		<key>LeagueId</key>
		<string>80</string>
		<key>MatchTime</key>
		<string>2019-04-10T02:00:00</string>
		<key>MaxLastOdds</key>
		<integer>1</integer>
		<key>MaxTeamId</key>
		<integer>47999</integer>
		<key>MaxTradedChange</key>
		<real>116092.39000000001</real>
		<key>MaxUpdateTime</key>
		<string>2019-04-09T04:30:38</string>
		<key>MediaIndexAway</key>
		<integer>0</integer>
		<key>MediaIndexDraw</key>
		<integer>0</integer>
		<key>MediaIndexHome</key>
		<integer>0</integer>
		<key>SortName</key>
		<string>冠军杯</string>
		<key>UnusualHot</key>
		<integer>0</integer>
		<key>UnusualIndex</key>
		<integer>0</integer>
		<key>UnusualPayout</key>
		<integer>0</integer>
		<key>awayScore</key>
		<string>0</string>
		<key>dateSeconds</key>
		<integer>1554832800</integer>
		<key>homeScore</key>
		<string>1</string>
		<key>recommendType</key>
		<integer>4</integer>
		<key>resultType</key>
		<integer>1</integer>
		<key>score</key>
		<string>1:0</string>
		<key>totalPAmount</key>
		<real>1879505.6899999999</real>
		<key>updateSeconds</key>
		<integer>1554755438</integer>
	</dict>
	<key>29187201</key>
	<dict>
		<key>AsianAvrLet</key>
		<string>0</string>
		<key>AwayTeam</key>
		<string>罗斯郡</string>
		<key>AwayTeamId</key>
		<string>674742</string>
		<key>BfAmountAway</key>
		<real>44537.57</real>
		<key>BfAmountDraw</key>
		<real>106851.42999999999</real>
		<key>BfAmountHome</key>
		<real>76171.270000000004</real>
		<key>BfIndexAway</key>
		<real>18.255800000000001</real>
		<key>BfIndexDraw</key>
		<real>54.057499999999997</real>
		<key>BfIndexHome</key>
		<real>27.686699999999998</real>
		<key>BfOddsAway</key>
		<real>2.96</real>
		<key>BfOddsDraw</key>
		<real>3.6499999999999999</real>
		<key>BfOddsHome</key>
		<real>2.6200000000000001</real>
		<key>BfPayoutAway</key>
		<real>-42.244399999999999</real>
		<key>BfPayoutDraw</key>
		<real>71.020499999999998</real>
		<key>BfPayoutHome</key>
		<real>-12.408099999999999</real>
		<key>Classifnication</key>
		<integer>3</integer>
		<key>EventId</key>
		<integer>29187201</integer>
		<key>EventTypeId</key>
		<integer>1</integer>
		<key>HomeTeam</key>
		<string>邓迪联</string>
		<key>HomeTeamId</key>
		<string>48818</string>
		<key>IsTutorial</key>
		<false/>
		<key>KellyAway</key>
		<real>19.566199999999998</real>
		<key>KellyDraw</key>
		<real>4.8086000000000002</real>
		<key>KellyHome</key>
		<real>28.389900000000001</real>
		<key>LeagueId</key>
		<string>184</string>
		<key>MatchTime</key>
		<string>2019-03-20T03:45:00</string>
		<key>MaxLastOdds</key>
		<integer>3</integer>
		<key>MaxTeamId</key>
		<integer>58805</integer>
		<key>MaxTradedChange</key>
		<real>17646.270000000004</real>
		<key>MaxUpdateTime</key>
		<string>2019-03-19T20:53:54</string>
		<key>MediaIndexAway</key>
		<integer>0</integer>
		<key>MediaIndexDraw</key>
		<integer>0</integer>
		<key>MediaIndexHome</key>
		<integer>0</integer>
		<key>SortName</key>
		<string>苏冠</string>
		<key>UnusualHot</key>
		<integer>0</integer>
		<key>UnusualIndex</key>
		<integer>0</integer>
		<key>UnusualPayout</key>
		<integer>1</integer>
		<key>awayScore</key>
		<string>0</string>
		<key>dateSeconds</key>
		<integer>1553024700</integer>
		<key>homeScore</key>
		<string>1</string>
		<key>recommendType</key>
		<integer>3</integer>
		<key>resultType</key>
		<integer>1</integer>
		<key>score</key>
		<string>1:0</string>
		<key>totalPAmount</key>
		<real>227560.26999999999</real>
		<key>updateSeconds</key>
		<integer>1553000034</integer>
	</dict>
	<key>29188313</key>
	<dict>
		<key>AsianAvrLet</key>
		<string>+0.25</string>
		<key>AwayTeam</key>
		<string>曼彻斯特联</string>
		<key>AwayTeamId</key>
		<string>48351</string>
		<key>BfAmountAway</key>
		<real>17586634.91</real>
		<key>BfAmountDraw</key>
		<real>3661429.98</real>
		<key>BfAmountHome</key>
		<real>5197579.3099999996</real>
		<key>BfIndexAway</key>
		<real>54.385800000000003</real>
		<key>BfIndexDraw</key>
		<real>18.079499999999999</real>
		<key>BfIndexHome</key>
		<real>27.534700000000001</real>
		<key>BfOddsAway</key>
		<real>2.5800000000000001</real>
		<key>BfOddsDraw</key>
		<real>3.2000000000000002</real>
		<key>BfOddsHome</key>
		<real>3.3500000000000001</real>
		<key>BfPayoutAway</key>
		<real>46.3508</real>
		<key>BfPayoutDraw</key>
		<real>-51.348399999999998</real>
		<key>BfPayoutHome</key>
		<real>-25.904900000000001</real>
		<key>Classifnication</key>
		<integer>1</integer>
		<key>EventId</key>
		<integer>29188313</integer>
		<key>EventTypeId</key>
		<integer>1</integer>
		<key>HomeTeam</key>
		<string>狼队</string>
		<key>HomeTeamId</key>
		<string>48044</string>
		<key>IsTutorial</key>
		<false/>
		<key>KellyAway</key>
		<real>66.484899999999996</real>
		<key>KellyDraw</key>
		<real>12.6549</real>
		<key>KellyHome</key>
		<real>39.699599999999997</real>
		<key>LeagueId</key>
		<string>287</string>
		<key>MatchTime</key>
		<string>2019-04-03T02:45:00</string>
		<key>MaxLastOdds</key>
		<integer>2</integer>
		<key>MaxTeamId</key>
		<integer>48351</integer>
		<key>MaxTradedChange</key>
		<real>631622.34999999963</real>
		<key>MaxUpdateTime</key>
		<string>2019-04-03T01:45:56</string>
		<key>MediaIndexAway</key>
		<integer>0</integer>
		<key>MediaIndexDraw</key>
		<integer>0</integer>
		<key>MediaIndexHome</key>
		<integer>0</integer>
		<key>SortName</key>
		<string>英超</string>
		<key>UnusualHot</key>
		<integer>1</integer>
		<key>UnusualIndex</key>
		<integer>0</integer>
		<key>UnusualPayout</key>
		<integer>0</integer>
		<key>awayScore</key>
		<string>1</string>
		<key>dateSeconds</key>
		<integer>1554230700</integer>
		<key>homeScore</key>
		<string>2</string>
		<key>recommendType</key>
		<integer>4</integer>
		<key>resultType</key>
		<integer>1</integer>
		<key>score</key>
		<string>2:1</string>
		<key>totalPAmount</key>
		<real>26445644.199999999</real>
		<key>updateSeconds</key>
		<integer>1554227156</integer>
	</dict>
	<key>29189925</key>
	<dict>
		<key>AsianAvrLet</key>
		<string>+0.75</string>
		<key>AwayTeam</key>
		<string>尤文图斯</string>
		<key>AwayTeamId</key>
		<string>2423</string>
		<key>BfAmountAway</key>
		<real>3990588.3399999999</real>
		<key>BfAmountDraw</key>
		<real>537831.91000000003</real>
		<key>BfAmountHome</key>
		<real>435852.96999999997</real>
		<key>BfIndexAway</key>
		<real>62.8414</real>
		<key>BfIndexDraw</key>
		<real>15.887600000000001</real>
		<key>BfIndexHome</key>
		<real>21.271000000000001</real>
		<key>BfOddsAway</key>
		<real>1.77</real>
		<key>BfOddsDraw</key>
		<real>3.6499999999999999</real>
		<key>BfOddsHome</key>
		<real>6</real>
		<key>BfPayoutAway</key>
		<real>48.884900000000002</real>
		<key>BfPayoutDraw</key>
		<real>-62.358899999999998</real>
		<key>BfPayoutHome</key>
		<real>-49.604399999999998</real>
		<key>Classifnication</key>
		<integer>1</integer>
		<key>EventId</key>
		<integer>29189925</integer>
		<key>EventTypeId</key>
		<integer>1</integer>
		<key>HomeTeam</key>
		<string>卡利亚里</string>
		<key>HomeTeamId</key>
		<string>60297</string>
		<key>IsTutorial</key>
		<false/>
		<key>KellyAway</key>
		<real>44.926299999999998</real>
		<key>KellyDraw</key>
		<real>55.139800000000001</real>
		<key>KellyHome</key>
		<real>97.355199999999996</real>
		<key>LeagueId</key>
		<string>558</string>
		<key>MatchTime</key>
		<string>2019-04-03T03:00:00</string>
		<key>MaxLastOdds</key>
		<integer>1</integer>
		<key>MaxTeamId</key>
		<integer>2423</integer>
		<key>MaxTradedChange</key>
		<real>208270.31999999983</real>
		<key>MaxUpdateTime</key>
		<string>2019-04-03T02:35:10</string>
		<key>MediaIndexAway</key>
		<integer>0</integer>
		<key>MediaIndexDraw</key>
		<integer>0</integer>
		<key>MediaIndexHome</key>
		<integer>0</integer>
		<key>SortName</key>
		<string>意甲</string>
		<key>UnusualHot</key>
		<integer>1</integer>
		<key>UnusualIndex</key>
		<integer>0</integer>
		<key>UnusualPayout</key>
		<integer>0</integer>
		<key>awayScore</key>
		<string>2</string>
		<key>dateSeconds</key>
		<integer>1554231600</integer>
		<key>homeScore</key>
		<string>0</string>
		<key>recommendType</key>
		<integer>4</integer>
		<key>resultType</key>
		<integer>4</integer>
		<key>score</key>
		<string>0:2</string>
		<key>totalPAmount</key>
		<real>4964273.2199999997</real>
		<key>updateSeconds</key>
		<integer>1554230110</integer>
	</dict>
	<key>29190180</key>
	<dict>
		<key>AsianAvrLet</key>
		<string>-1.5</string>
		<key>AwayTeam</key>
		<string>曼彻斯特联</string>
		<key>AwayTeamId</key>
		<string>48351</string>
		<key>BfAmountAway</key>
		<real>2197133.52</real>
		<key>BfAmountDraw</key>
		<real>1606459.27</real>
		<key>BfAmountHome</key>
		<real>21136544.129999999</real>
		<key>BfIndexAway</key>
		<real>34.873899999999999</real>
		<key>BfIndexDraw</key>
		<real>15.6226</real>
		<key>BfIndexHome</key>
		<real>49.503500000000003</real>
		<key>BfOddsAway</key>
		<real>9.5999999999999996</real>
		<key>BfOddsDraw</key>
		<real>5.7999999999999998</real>
		<key>BfOddsHome</key>
		<real>1.3799999999999999</real>
		<key>BfPayoutAway</key>
		<real>-17.188099999999999</real>
		<key>BfPayoutDraw</key>
		<real>-62.902299999999997</real>
		<key>BfPayoutHome</key>
		<real>17.551600000000001</real>
		<key>Classifnication</key>
		<integer>1</integer>
		<key>EventId</key>
		<integer>29190180</integer>
		<key>EventTypeId</key>
		<integer>1</integer>
		<key>HomeTeam</key>
		<string>巴塞罗那</string>
		<key>HomeTeamId</key>
		<string>55270</string>
		<key>IsTutorial</key>
		<false/>
		<key>KellyAway</key>
		<real>30.305599999999998</real>
		<key>KellyDraw</key>
		<real>8.8228000000000009</real>
		<key>KellyHome</key>
		<real>1.6500999999999999</real>
		<key>LeagueId</key>
		<string>80</string>
		<key>MatchTime</key>
		<string>2019-04-17T03:00:00</string>
		<key>MaxLastOdds</key>
		<integer>1</integer>
		<key>MaxTeamId</key>
		<integer>55270</integer>
		<key>MaxTradedChange</key>
		<real>1040425.6999999993</real>
		<key>MaxUpdateTime</key>
		<string>2019-04-17T02:57:44</string>
		<key>MediaIndexAway</key>
		<integer>0</integer>
		<key>MediaIndexDraw</key>
		<integer>0</integer>
		<key>MediaIndexHome</key>
		<integer>0</integer>
		<key>SortName</key>
		<string>冠军杯</string>
		<key>UnusualHot</key>
		<integer>0</integer>
		<key>UnusualIndex</key>
		<integer>0</integer>
		<key>UnusualPayout</key>
		<integer>0</integer>
		<key>awayScore</key>
		<string>0</string>
		<key>dateSeconds</key>
		<integer>1555441200</integer>
		<key>homeScore</key>
		<string>3</string>
		<key>recommendType</key>
		<integer>1</integer>
		<key>resultType</key>
		<integer>1</integer>
		<key>score</key>
		<string>3:0</string>
		<key>totalPAmount</key>
		<real>24940136.919999998</real>
		<key>updateSeconds</key>
		<integer>1555441064</integer>
	</dict>
	<key>29190181</key>
	<dict>
		<key>AsianAvrLet</key>
		<string>-0.75</string>
		<key>AwayTeam</key>
		<string>阿贾克斯</string>
		<key>AwayTeamId</key>
		<string>2685</string>
		<key>BfAmountAway</key>
		<real>3032623.3900000001</real>
		<key>BfAmountDraw</key>
		<real>2948964.9900000002</real>
		<key>BfAmountHome</key>
		<real>25224184.760000002</real>
		<key>BfIndexAway</key>
		<real>23.5047</real>
		<key>BfIndexDraw</key>
		<real>16.3843</real>
		<key>BfIndexHome</key>
		<real>60.110999999999997</real>
		<key>BfOddsAway</key>
		<real>5.7000000000000002</real>
		<key>BfOddsDraw</key>
		<real>4</real>
		<key>BfOddsHome</key>
		<real>1.74</real>
		<key>BfPayoutAway</key>
		<real>-45.1023</real>
		<key>BfPayoutDraw</key>
		<real>-61.732799999999997</real>
		<key>BfPayoutHome</key>
		<real>40.395299999999999</real>
		<key>Classifnication</key>
		<integer>1</integer>
		<key>EventId</key>
		<integer>29190181</integer>
		<key>EventTypeId</key>
		<integer>1</integer>
		<key>HomeTeam</key>
		<string>尤文图斯</string>
		<key>HomeTeamId</key>
		<string>2423</string>
		<key>IsTutorial</key>
		<false/>
		<key>KellyAway</key>
		<real>19.993400000000001</real>
		<key>KellyDraw</key>
		<real>6.6607000000000003</real>
		<key>KellyHome</key>
		<real>1.7177</real>
		<key>LeagueId</key>
		<string>80</string>
		<key>MatchTime</key>
		<string>2019-04-17T03:00:00</string>
		<key>MaxLastOdds</key>
		<integer>1</integer>
		<key>MaxTeamId</key>
		<integer>2423</integer>
		<key>MaxTradedChange</key>
		<real>871196.43000000156</real>
		<key>MaxUpdateTime</key>
		<string>2019-04-17T01:54:50</string>
		<key>MediaIndexAway</key>
		<integer>0</integer>
		<key>MediaIndexDraw</key>
		<integer>0</integer>
		<key>MediaIndexHome</key>
		<integer>0</integer>
		<key>SortName</key>
		<string>冠军杯</string>
		<key>UnusualHot</key>
		<integer>1</integer>
		<key>UnusualIndex</key>
		<integer>0</integer>
		<key>UnusualPayout</key>
		<integer>0</integer>
		<key>awayScore</key>
		<string>2</string>
		<key>dateSeconds</key>
		<integer>1555441200</integer>
		<key>homeScore</key>
		<string>1</string>
		<key>recommendType</key>
		<integer>1</integer>
		<key>resultType</key>
		<integer>4</integer>
		<key>score</key>
		<string>1:2</string>
		<key>totalPAmount</key>
		<real>31205773.140000001</real>
		<key>updateSeconds</key>
		<integer>1555437290</integer>
	</dict>
	<key>29211285</key>
	<dict>
		<key>AsianAvrLet</key>
		<string>+0.5</string>
		<key>AwayTeam</key>
		<string>阿森纳</string>
		<key>AwayTeamId</key>
		<string>1096</string>
		<key>BfAmountAway</key>
		<real>15885493.01</real>
		<key>BfAmountDraw</key>
		<real>3704064.96</real>
		<key>BfAmountHome</key>
		<real>3313205.0499999998</real>
		<key>BfIndexAway</key>
		<real>56.698</real>
		<key>BfIndexDraw</key>
		<real>23.545000000000002</real>
		<key>BfIndexHome</key>
		<real>19.757000000000001</real>
		<key>BfOddsAway</key>
		<real>2.1200000000000001</real>
		<key>BfOddsDraw</key>
		<real>3.75</real>
		<key>BfOddsHome</key>
		<real>3.75</real>
		<key>BfPayoutAway</key>
		<real>50.004300000000001</real>
		<key>BfPayoutDraw</key>
		<real>-37.707599999999999</real>
		<key>BfPayoutHome</key>
		<real>-47.729500000000002</real>
		<key>Classifnication</key>
		<integer>1</integer>
		<key>EventId</key>
		<integer>29211285</integer>
		<key>EventTypeId</key>
		<integer>1</integer>
		<key>HomeTeam</key>
		<string>沃特福德</string>
		<key>HomeTeamId</key>
		<string>56301</string>
		<key>IsTutorial</key>
		<false/>
		<key>KellyAway</key>
		<real>2.5287000000000002</real>
		<key>KellyDraw</key>
		<real>5.8377999999999997</real>
		<key>KellyHome</key>
		<real>29.805700000000002</real>
		<key>LeagueId</key>
		<string>287</string>
		<key>MatchTime</key>
		<string>2019-04-16T03:00:00</string>
		<key>MaxLastOdds</key>
		<integer>2</integer>
		<key>MaxTeamId</key>
		<integer>1096</integer>
		<key>MaxTradedChange</key>
		<real>717519.18999999948</real>
		<key>MaxUpdateTime</key>
		<string>2019-04-16T02:57:08</string>
		<key>MediaIndexAway</key>
		<integer>0</integer>
		<key>MediaIndexDraw</key>
		<integer>0</integer>
		<key>MediaIndexHome</key>
		<integer>0</integer>
		<key>SortName</key>
		<string>英超</string>
		<key>UnusualHot</key>
		<integer>1</integer>
		<key>UnusualIndex</key>
		<integer>0</integer>
		<key>UnusualPayout</key>
		<integer>0</integer>
		<key>awayScore</key>
		<string>1</string>
		<key>dateSeconds</key>
		<integer>1555354800</integer>
		<key>homeScore</key>
		<string>0</string>
		<key>recommendType</key>
		<integer>3</integer>
		<key>resultType</key>
		<integer>4</integer>
		<key>score</key>
		<string>0:1</string>
		<key>totalPAmount</key>
		<real>22902763.02</real>
		<key>updateSeconds</key>
		<integer>1555354628</integer>
	</dict>
	<key>29214418</key>
	<dict>
		<key>AsianAvrLet</key>
		<string>+0.5</string>
		<key>AwayTeam</key>
		<string>里昂</string>
		<key>AwayTeamId</key>
		<string>55271</string>
		<key>BfAmountAway</key>
		<real>401887.23999999999</real>
		<key>BfAmountDraw</key>
		<real>79485.889999999999</real>
		<key>BfAmountHome</key>
		<real>93952.75</real>
		<key>BfIndexAway</key>
		<real>50.268999999999998</real>
		<key>BfIndexDraw</key>
		<real>21.208500000000001</real>
		<key>BfIndexHome</key>
		<real>28.522500000000001</real>
		<key>BfOddsAway</key>
		<real>1.8899999999999999</real>
		<key>BfOddsDraw</key>
		<real>4</real>
		<key>BfOddsHome</key>
		<real>4.5</real>
		<key>BfPayoutAway</key>
		<real>30.463100000000001</real>
		<key>BfPayoutDraw</key>
		<real>-44.957700000000003</real>
		<key>BfPayoutHome</key>
		<real>-25.9755</real>
		<key>Classifnication</key>
		<integer>1</integer>
		<key>EventId</key>
		<integer>29214418</integer>
		<key>EventTypeId</key>
		<integer>1</integer>
		<key>HomeTeam</key>
		<string>南特</string>
		<key>HomeTeamId</key>
		<string>10774</string>
		<key>IsTutorial</key>
		<false/>
		<key>KellyAway</key>
		<real>5.4307999999999996</real>
		<key>KellyDraw</key>
		<real>11.109299999999999</real>
		<key>KellyHome</key>
		<real>6.1783999999999999</real>
		<key>LeagueId</key>
		<string>318</string>
		<key>MatchTime</key>
		<string>2019-04-13T02:45:00</string>
		<key>MaxLastOdds</key>
		<integer>1</integer>
		<key>MaxTeamId</key>
		<integer>55271</integer>
		<key>MaxTradedChange</key>
		<real>63966.160000000003</real>
		<key>MaxUpdateTime</key>
		<string>2019-04-12T17:42:56</string>
		<key>MediaIndexAway</key>
		<integer>0</integer>
		<key>MediaIndexDraw</key>
		<integer>0</integer>
		<key>MediaIndexHome</key>
		<integer>0</integer>
		<key>SortName</key>
		<string>法甲</string>
		<key>UnusualHot</key>
		<integer>0</integer>
		<key>UnusualIndex</key>
		<integer>0</integer>
		<key>UnusualPayout</key>
		<integer>0</integer>
		<key>awayScore</key>
		<string>1</string>
		<key>dateSeconds</key>
		<integer>1555094700</integer>
		<key>homeScore</key>
		<string>2</string>
		<key>recommendType</key>
		<integer>4</integer>
		<key>resultType</key>
		<integer>1</integer>
		<key>score</key>
		<string>2:1</string>
		<key>totalPAmount</key>
		<real>575325.88</real>
		<key>updateSeconds</key>
		<integer>1555062176</integer>
	</dict>
	<key>29217897</key>
	<dict>
		<key>AsianAvrLet</key>
		<string>+0.75</string>
		<key>AwayTeam</key>
		<string>皇家马德里</string>
		<key>AwayTeamId</key>
		<string>2426</string>
		<key>BfAmountAway</key>
		<real>3693657.3500000001</real>
		<key>BfAmountDraw</key>
		<real>494024.84999999998</real>
		<key>BfAmountHome</key>
		<real>578916.35999999999</real>
		<key>BfIndexAway</key>
		<real>55.251899999999999</real>
		<key>BfIndexDraw</key>
		<real>17.7605</real>
		<key>BfIndexHome</key>
		<real>26.9876</real>
		<key>BfOddsAway</key>
		<real>1.78</real>
		<key>BfOddsDraw</key>
		<real>4.0999999999999996</real>
		<key>BfOddsHome</key>
		<real>5.2999999999999998</real>
		<key>BfPayoutAway</key>
		<real>34.766100000000002</real>
		<key>BfPayoutDraw</key>
		<real>-56.679900000000004</real>
		<key>BfPayoutHome</key>
		<real>-34.1738</real>
		<key>Classifnication</key>
		<integer>1</integer>
		<key>EventId</key>
		<integer>29217897</integer>
		<key>EventTypeId</key>
		<integer>1</integer>
		<key>HomeTeam</key>
		<string>莱加内斯</string>
		<key>HomeTeamId</key>
		<string>309109</string>
		<key>IsTutorial</key>
		<false/>
		<key>KellyAway</key>
		<real>5.5583</real>
		<key>KellyDraw</key>
		<real>5.9245000000000001</real>
		<key>KellyHome</key>
		<real>8.4461999999999993</real>
		<key>LeagueId</key>
		<string>514</string>
		<key>MatchTime</key>
		<string>2019-04-16T03:00:00</string>
		<key>MaxLastOdds</key>
		<integer>1</integer>
		<key>MaxTeamId</key>
		<integer>2426</integer>
		<key>MaxTradedChange</key>
		<real>173703.85000000009</real>
		<key>MaxUpdateTime</key>
		<string>2019-04-16T01:45:30</string>
		<key>MediaIndexAway</key>
		<integer>0</integer>
		<key>MediaIndexDraw</key>
		<integer>0</integer>
		<key>MediaIndexHome</key>
		<integer>0</integer>
		<key>SortName</key>
		<string>西甲</string>
		<key>UnusualHot</key>
		<integer>0</integer>
		<key>UnusualIndex</key>
		<integer>0</integer>
		<key>UnusualPayout</key>
		<integer>0</integer>
		<key>awayScore</key>
		<string>1</string>
		<key>dateSeconds</key>
		<integer>1555354800</integer>
		<key>homeScore</key>
		<string>1</string>
		<key>recommendType</key>
		<integer>4</integer>
		<key>resultType</key>
		<integer>2</integer>
		<key>score</key>
		<string>1:1</string>
		<key>totalPAmount</key>
		<real>4766598.5599999996</real>
		<key>updateSeconds</key>
		<integer>1555350330</integer>
	</dict>
</dict>
</plist>
