<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>className</key>
		<string>SYListViewController</string>
		<key>title</key>
		<string>赛事</string>
		<key>imageName</key>
		<string>tab_home</string>
		<key>selectedImageName</key>
		<string>tab_home_selected</string>
	</dict>
	<dict>
		<key>className</key>
		<string>SYListViewController</string>
		<key>title</key>
		<string>临近</string>
		<key>imageName</key>
		<string>tab_discover</string>
		<key>selectedImageName</key>
		<string>tab_discover_selected</string>
	</dict>
	<dict>
		<key>className</key>
		<string>SYListViewController</string>
		<key>title</key>
		<string>交易</string>
		<key>imageName</key>
		<string>tab_mine</string>
		<key>selectedImageName</key>
		<string>tab_mine_selected</string>
	</dict>
	<dict>
		<key>className</key>
		<string>SYListViewController</string>
		<key>title</key>
		<string>历史</string>
		<key>imageName</key>
		<string>tab_mine</string>
		<key>selectedImageName</key>
		<string>tab_mine_selected</string>
	</dict>
	<dict>
		<key>className</key>
		<string>SYCompareViewController</string>
		<key>title</key>
		<string>对比</string>
		<key>imageName</key>
		<string>tab_mine</string>
		<key>selectedImageName</key>
		<string>tab_mine_selected</string>
	</dict>
</array>
</plist>
