<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>className</key>
		<string>SYListViewController</string>
		<key>title</key>
		<string>赛事</string>
		<key>imageName</key>
		<string>football2</string>
		<key>selectedImageName</key>
		<string>football2</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>className</key>
		<string>SYListViewController</string>
		<key>title</key>
		<string>临近</string>
		<key>imageName</key>
		<string>football2</string>
		<key>selectedImageName</key>
		<string>football2</string>
		<key>type</key>
		<string>2</string>
	</dict>
	<dict>
		<key>className</key>
		<string>SYListViewController</string>
		<key>title</key>
		<string>交易</string>
		<key>imageName</key>
		<string>football2</string>
		<key>selectedImageName</key>
		<string>football2</string>
		<key>type</key>
		<string>3</string>
	</dict>
	<dict>
		<key>className</key>
		<string>SYListViewController</string>
		<key>title</key>
		<string>历史</string>
		<key>imageName</key>
		<string>football2</string>
		<key>selectedImageName</key>
		<string>football2</string>
		<key>type</key>
		<string>4</string>
	</dict>
	<dict>
		<key>className</key>
		<string>SYMoreViewController</string>
		<key>title</key>
		<string>更多</string>
		<key>imageName</key>
		<string>football2</string>
		<key>selectedImageName</key>
		<string>football2</string>
	</dict>
</array>
</plist>
