<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1000084</key>
	<string>斯洛格镇</string>
	<key>10238185</key>
	<string>克勒拉希</string>
	<key>10828973</key>
	<string>图们</string>
	<key>113184</key>
	<string>安卡拉古库</string>
	<key>113193</key>
	<string>艾斯堡</string>
	<key>113239</key>
	<string>哥兹塔比</string>
	<key>1165</key>
	<string>班列特</string>
	<key>1209555</key>
	<string>哥罗纳</string>
	<key>12157255</key>
	<string>法克尔</string>
	<key>12472637</key>
	<string>巴蒂卡</string>
	<key>132555</key>
	<string>耶奥维尔</string>
	<key>189951</key>
	<string>帕桑度</string>
	<key>191567</key>
	<string>巴特里</string>
	<key>194518</key>
	<string>塔勒瑞斯</string>
	<key>198144</key>
	<string>尤文图德</string>
	<key>2013140</key>
	<string>森索罗</string>
	<key>205084</key>
	<string>保顿艾尔宾</string>
	<key>2081063</key>
	<string>鲁勾</string>
	<key>21636828</key>
	<string>卢恩吉亚</string>
	<key>21678</key>
	<string>奥维多</string>
	<key>2225922</key>
	<string>奥兰斯</string>
	<key>2250328</key>
	<string>艾科坎</string>
	<key>2328344</key>
	<string>卡希梅基</string>
	<key>2451815</key>
	<string>泰格雷</string>
	<key>2506293</key>
	<string>葡萄牙体育</string>
	<key>266068</key>
	<string>克拉雷镇</string>
	<key>2683892</key>
	<string>瓦克蒂罗尔</string>
	<key>28206</key>
	<string>米迪兰特</string>
	<key>3018410</key>
	<string>格雷弗森德</string>
	<key>3143307</key>
	<string>斯拉斯克</string>
	<key>328049</key>
	<string>法基克</string>
	<key>328197</key>
	<string>埃梅勒客</string>
	<key>328916</key>
	<string>泰格雷斯</string>
	<key>328955</key>
	<string>普马斯</string>
	<key>3307906</key>
	<string>斯帕尔</string>
	<key>36033</key>
	<string>格兰森林流浪</string>
	<key>367589</key>
	<string>沙士菲</string>
	<key>3677851</key>
	<string>伊瓦顿</string>
	<key>3794140</key>
	<string>阿拉戈亚诺</string>
	<key>384083</key>
	<string>歌德堡盖斯</string>
	<key>419133</key>
	<string>沃伦达姆</string>
	<key>422179</key>
	<string>艾宁顿</string>
	<key>4240339</key>
	<string>唐迪拉</string>
	<key>44103</key>
	<string>维积利</string>
	<key>48001</key>
	<string>甘士比</string>
	<key>4820030</key>
	<string>阿范加德</string>
	<key>482032</key>
	<string>干亚斯堡</string>
	<key>48452</key>
	<string>邓伯什</string>
	<key>48456</key>
	<string>尼梅根</string>
	<key>487520</key>
	<string>华沙普洛克</string>
	<key>48793</key>
	<string>辛达卡拉</string>
	<key>48795</key>
	<string>华森</string>
	<key>4910879</key>
	<string>华斯兰德</string>
	<key>4917452</key>
	<string>阿卡沙</string>
	<key>4935893</key>
	<string>马特斯</string>
	<key>49584</key>
	<string>韦康比流浪者</string>
	<key>502427</key>
	<string>奥斯特桑斯</string>
	<key>503361</key>
	<string>佐高平斯</string>
	<key>503499</key>
	<string>萨比利斯</string>
	<key>505726</key>
	<string>威尔郡</string>
	<key>505984</key>
	<string>彭拿费尔</string>
	<key>5129869</key>
	<string>帕勒斯蒂诺</string>
	<key>5174666</key>
	<string>阿度斯维</string>
	<key>5178272</key>
	<string>防卫者</string>
	<key>5178628</key>
	<string>帕特罗纳图</string>
	<key>522053</key>
	<string>霍治亚</string>
	<key>5281185</key>
	<string>拉那那夏普尔</string>
	<key>5306085</key>
	<string>耶尼马拉耶士邦</string>
	<key>5330505</key>
	<string>森柏欧</string>
	<key>5429246</key>
	<string>克里科</string>
	<key>6138085</key>
	<string>罗伯士</string>
	<key>6368159</key>
	<string>雷加塔斯</string>
	<key>66483</key>
	<string>塞尔塔</string>
	<key>6681501</key>
	<string>图们</string>
	<key>67186</key>
	<string>摩斯高伦</string>
	<key>69719</key>
	<string>绍森德</string>
	<key>7444547</key>
	<string>阿范加德</string>
	<key>7680561</key>
	<string>卢西塔诺</string>
	<key>8076581</key>
	<string>贝兹尔</string>
	<key>8916863</key>
	<string>舍佩斯</string>
	<key>8942696</key>
	<string>伊斯托里尔</string>
	<key>908335</key>
	<string>拉纳卡</string>
	<key>920044</key>
	<string>提斯特德</string>
	<key>939576</key>
	<string>马卡比迪克瓦</string>
	<key>990646</key>
	<string>阿尔费登</string>
</dict>
</plist>
