<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>12</key>
	<string>319</string>
	<key>17</key>
	<string>515</string>
	<key>33</key>
	<string>4</string>
	<key>世俱杯</key>
	<string>世俱杯</string>
	<key>丹甲</key>
	<string>丹麦甲</string>
	<key>丹超</key>
	<string>丹麦超</string>
	<key>亚冠</key>
	<string>亚冠杯</string>
	<key>亚洲杯</key>
	<string>亚洲杯</string>
	<key>以超</key>
	<string>以超</string>
	<key>俄超</key>
	<string>俄超</string>
	<key>冠军杯</key>
	<string>欧冠杯</string>
	<key>南俱杯</key>
	<string>南球杯</string>
	<key>南解杯</key>
	<string>自由杯</string>
	<key>友谊赛</key>
	<string>国际友谊</string>
	<key>国王杯</key>
	<string>西杯</string>
	<key>土耳其杯</key>
	<string>土杯</string>
	<key>土超</key>
	<string>土超</string>
	<key>圣保罗锦</key>
	<string>巴圣锦标</string>
	<key>墨西哥杯</key>
	<string>墨西哥杯</string>
	<key>墨超</key>
	<string>墨西联</string>
	<key>奥乙</key>
	<string>奥乙</string>
	<key>奥超</key>
	<string>奥甲</string>
	<key>巴西杯</key>
	<string>巴西杯</string>
	<key>希腊超</key>
	<string>希腊超</string>
	<key>德乙</key>
	<string>德乙</string>
	<key>德甲</key>
	<string>德甲</string>
	<key>意乙</key>
	<string>意乙</string>
	<key>意大利杯</key>
	<string>意杯</string>
	<key>意甲</key>
	<string>意甲</string>
	<key>日乙</key>
	<string>日职乙</string>
	<key>日职</key>
	<string>日联杯</string>
	<key>日联杯</key>
	<string>日联杯</string>
	<key>智利甲</key>
	<string>智利甲</string>
	<key>欧霸杯</key>
	<string>欧罗巴杯</string>
	<key>欧预赛</key>
	<string>欧洲杯</string>
	<key>比乙</key>
	<string>比乙</string>
	<key>法杯</key>
	<string>法国杯</string>
	<key>法甲</key>
	<string>法甲</string>
	<key>法联杯</key>
	<string>法联杯</string>
	<key>波兰甲</key>
	<string>波兰超</string>
	<key>澳超</key>
	<string>澳洲甲</string>
	<key>瑞士超</key>
	<string>瑞士超</string>
	<key>瑞杯</key>
	<string>瑞典杯</string>
	<key>瑞甲</key>
	<string>瑞士甲</string>
	<key>罗甲</key>
	<string>罗甲</string>
	<key>罗马尼亚</key>
	<string>罗杯</string>
	<key>美冠</key>
	<string>美冠杯</string>
	<key>美职</key>
	<string>美职业</string>
	<key>芬超</key>
	<string>芬超</string>
	<key>苏冠</key>
	<string>苏冠</string>
	<key>苏超</key>
	<string>苏超</string>
	<key>苏足总杯</key>
	<string>苏总杯</string>
	<key>英乙</key>
	<string>英乙</string>
	<key>英甲</key>
	<string>英甲</string>
	<key>英超</key>
	<string>英超</string>
	<key>英足总</key>
	<string>英足总杯</string>
	<key>荷兰乙</key>
	<string>荷乙</string>
	<key>荷杯</key>
	<string>荷兰杯</string>
	<key>荷甲</key>
	<string>荷甲</string>
	<key>葡杯</key>
	<string>葡杯</string>
	<key>葡甲</key>
	<string>葡甲</string>
	<key>葡超</key>
	<string>葡超</string>
	<key>西乙</key>
	<string>西乙</string>
	<key>西甲</key>
	<string>西甲</string>
	<key>解放者杯</key>
	<string>自由杯</string>
	<key>阿甲</key>
	<string>阿甲</string>
	<key>韩职</key>
	<string>韩K联</string>
</dict>
</plist>
