<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Chs</key>
		<string>\足球\苏格兰足球\苏超</string>
		<key>Classification</key>
		<integer>2</integer>
		<key>Eng</key>
		<string>\Soccer\Scottish Soccer\Scottish Premiership</string>
		<key>FullName</key>
		<string>苏超</string>
		<key>Id</key>
		<integer>33</integer>
		<key>SortName</key>
		<string>苏超</string>
		<key>SportTypeId</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Chs</key>
		<string>\足球\奥地利足球\奥地利超级联赛</string>
		<key>Classification</key>
		<integer>2</integer>
		<key>Eng</key>
		<string>\Soccer\Austrian Soccer\Austrian Bundesliga</string>
		<key>FullName</key>
		<string>奥地利超级联赛</string>
		<key>Id</key>
		<integer>34</integer>
		<key>SortName</key>
		<string>奥超</string>
		<key>SportTypeId</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Chs</key>
		<string>\足球\丹麦足球\丹麦足球超级联赛</string>
		<key>Classification</key>
		<integer>2</integer>
		<key>Eng</key>
		<string>\Soccer\Danish Soccer\Danish Superliga</string>
		<key>FullName</key>
		<string>丹麦足球超级联赛</string>
		<key>Id</key>
		<integer>40</integer>
		<key>SortName</key>
		<string>丹超</string>
		<key>SportTypeId</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Chs</key>
		<string>\足球\瑞士足球\瑞士超级联赛</string>
		<key>Classification</key>
		<integer>2</integer>
		<key>Eng</key>
		<string>Swiss Soccer\Swiss Super League</string>
		<key>FullName</key>
		<string>瑞士超级联赛</string>
		<key>Id</key>
		<integer>45</integer>
		<key>SortName</key>
		<string>瑞士超</string>
		<key>SportTypeId</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Chs</key>
		<string>\足球\土耳其超足球\土耳其超级联赛</string>
		<key>Classification</key>
		<integer>2</integer>
		<key>Eng</key>
		<string>\Soccer\Turkish Soccer\Turkish Super League</string>
		<key>FullName</key>
		<string>土耳其超级联赛</string>
		<key>Id</key>
		<integer>87</integer>
		<key>SortName</key>
		<string>土超</string>
		<key>SportTypeId</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Chs</key>
		<string>\足球\瑞士足球\瑞士足球挑战联赛(瑞士甲级联赛)</string>
		<key>Classification</key>
		<integer>3</integer>
		<key>Eng</key>
		<string>\Soccer\Swiss Soccer\Swiss Challenge League</string>
		<key>FullName</key>
		<string>瑞士甲级联赛</string>
		<key>Id</key>
		<integer>151</integer>
		<key>SortName</key>
		<string>瑞甲</string>
		<key>SportTypeId</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Chs</key>
		<string>\足球\GB\苏甲</string>
		<key>Classification</key>
		<integer>0</integer>
		<key>Eng</key>
		<string>\足球\GB\Scottish League One</string>
		<key>FullName</key>
		<string>苏甲</string>
		<key>Id</key>
		<integer>171</integer>
		<key>SortName</key>
		<string>苏甲</string>
		<key>SportTypeId</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Chs</key>
		<string>\足球\GB\苏格兰足球冠军联赛</string>
		<key>Classification</key>
		<integer>3</integer>
		<key>Eng</key>
		<string>\足球\GB\Scottish Championship</string>
		<key>FullName</key>
		<string>苏格兰足球冠军联赛</string>
		<key>Id</key>
		<integer>184</integer>
		<key>SortName</key>
		<string>苏冠</string>
		<key>SportTypeId</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Chs</key>
		<string>\篮球\\NBA</string>
		<key>Classification</key>
		<integer>-1</integer>
		<key>Eng</key>
		<string>\篮球\\NBA</string>
		<key>FullName</key>
		<string>NBA</string>
		<key>Id</key>
		<integer>230</integer>
		<key>SortName</key>
		<string>NBA</string>
		<key>SportTypeId</key>
		<integer>7522</integer>
	</dict>
	<dict>
		<key>Chs</key>
		<string>\足球\GB\英超联赛</string>
		<key>Classification</key>
		<integer>1</integer>
		<key>Eng</key>
		<string>\足球\GB\English Premier League</string>
		<key>FullName</key>
		<string>英超联赛</string>
		<key>Id</key>
		<integer>287</integer>
		<key>SortName</key>
		<string>英超</string>
		<key>SportTypeId</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Chs</key>
		<string>\足球\FR\法国甲级联赛</string>
		<key>Classification</key>
		<integer>1</integer>
		<key>Eng</key>
		<string>\足球\FR\French Ligue 1</string>
		<key>FullName</key>
		<string>法国甲级联赛</string>
		<key>Id</key>
		<integer>318</integer>
		<key>SortName</key>
		<string>法甲</string>
		<key>SportTypeId</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Chs</key>
		<string>\足球\FR\法国乙级联赛</string>
		<key>Classification</key>
		<integer>1</integer>
		<key>Eng</key>
		<string>\足球\FR\French Ligue 2</string>
		<key>FullName</key>
		<string>法国乙级联赛</string>
		<key>Id</key>
		<integer>319</integer>
		<key>SortName</key>
		<string>法乙</string>
		<key>SportTypeId</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Chs</key>
		<string>\足球\RU\俄超</string>
		<key>Classification</key>
		<integer>1</integer>
		<key>Eng</key>
		<string>\足球\RU\Russian Premier League</string>
		<key>FullName</key>
		<string>俄超</string>
		<key>Id</key>
		<integer>475</integer>
		<key>SortName</key>
		<string>俄超</string>
		<key>SportTypeId</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Chs</key>
		<string>\足球\DE\德乙</string>
		<key>Classification</key>
		<integer>1</integer>
		<key>Eng</key>
		<string>\足球\DE\German Bundesliga 2</string>
		<key>FullName</key>
		<string>德乙</string>
		<key>Id</key>
		<integer>476</integer>
		<key>SortName</key>
		<string>德乙</string>
		<key>SportTypeId</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Chs</key>
		<string>\足球\GB\英冠</string>
		<key>Classification</key>
		<integer>1</integer>
		<key>Eng</key>
		<string>\足球\GB\English Championship</string>
		<key>FullName</key>
		<string>英冠</string>
		<key>Id</key>
		<integer>485</integer>
		<key>SortName</key>
		<string>英冠</string>
		<key>SportTypeId</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Chs</key>
		<string>\足球\GB\英甲</string>
		<key>Classification</key>
		<integer>1</integer>
		<key>Eng</key>
		<string>\足球\GB\English League 1</string>
		<key>FullName</key>
		<string>英甲</string>
		<key>Id</key>
		<integer>503</integer>
		<key>SortName</key>
		<string>英甲</string>
		<key>SportTypeId</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Chs</key>
		<string>\足球\NO\挪超</string>
		<key>Classification</key>
		<integer>1</integer>
		<key>Eng</key>
		<string>\足球\NO\Norwegian Eliteserien</string>
		<key>FullName</key>
		<string>挪超</string>
		<key>Id</key>
		<integer>504</integer>
		<key>SortName</key>
		<string>挪超</string>
		<key>SportTypeId</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Chs</key>
		<string>\足球\CL\智利甲</string>
		<key>Classification</key>
		<integer>1</integer>
		<key>Eng</key>
		<string>\足球\CL\Chilean Primera Division</string>
		<key>FullName</key>
		<string>智利甲</string>
		<key>Id</key>
		<integer>505</integer>
		<key>SortName</key>
		<string>智利甲</string>
		<key>SportTypeId</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Chs</key>
		<string>\足球\GB\英乙</string>
		<key>Classification</key>
		<integer>1</integer>
		<key>Eng</key>
		<string>\足球\GB\English League 2</string>
		<key>FullName</key>
		<string>英乙</string>
		<key>Id</key>
		<integer>506</integer>
		<key>SortName</key>
		<string>英乙</string>
		<key>SportTypeId</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Chs</key>
		<string>\足球\FI\芬超</string>
		<key>Classification</key>
		<integer>1</integer>
		<key>Eng</key>
		<string>\足球\FI\Finnish Veikkausliiga</string>
		<key>FullName</key>
		<string>芬超</string>
		<key>Id</key>
		<integer>513</integer>
		<key>SortName</key>
		<string>芬超</string>
		<key>SportTypeId</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Chs</key>
		<string>\足球\ES\西甲</string>
		<key>Classification</key>
		<integer>1</integer>
		<key>Eng</key>
		<string>\足球\ES\Spanish La Liga</string>
		<key>FullName</key>
		<string>西甲</string>
		<key>Id</key>
		<integer>514</integer>
		<key>SortName</key>
		<string>西甲</string>
		<key>SportTypeId</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Chs</key>
		<string>\足球\NL\荷兰乙</string>
		<key>Classification</key>
		<integer>1</integer>
		<key>Eng</key>
		<string>\足球\NL\Dutch Eerste Divisie</string>
		<key>FullName</key>
		<string>荷兰乙</string>
		<key>Id</key>
		<integer>515</integer>
		<key>SortName</key>
		<string>荷兰乙</string>
		<key>SportTypeId</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Chs</key>
		<string>\足球\PT\葡超</string>
		<key>Classification</key>
		<integer>1</integer>
		<key>Eng</key>
		<string>\足球\PT\Portuguese Primeira Liga</string>
		<key>FullName</key>
		<string>葡超</string>
		<key>Id</key>
		<integer>516</integer>
		<key>SortName</key>
		<string>葡超</string>
		<key>SportTypeId</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Chs</key>
		<string>\足球\MX\墨超</string>
		<key>Classification</key>
		<integer>1</integer>
		<key>Eng</key>
		<string>\足球\MX\Mexican Liga MX</string>
		<key>FullName</key>
		<string>墨超</string>
		<key>Id</key>
		<integer>517</integer>
		<key>SortName</key>
		<string>墨超</string>
		<key>SportTypeId</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Chs</key>
		<string>\足球\BR\巴甲</string>
		<key>Classification</key>
		<integer>1</integer>
		<key>Eng</key>
		<string>\足球\BR\Brazilian Serie A</string>
		<key>FullName</key>
		<string>巴甲</string>
		<key>Id</key>
		<integer>534</integer>
		<key>SortName</key>
		<string>巴甲</string>
		<key>SportTypeId</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Chs</key>
		<string>\足球\BR\巴西乙</string>
		<key>Classification</key>
		<integer>1</integer>
		<key>Eng</key>
		<string>\足球\BR\Brazilian Serie B</string>
		<key>FullName</key>
		<string>巴西乙</string>
		<key>Id</key>
		<integer>537</integer>
		<key>SortName</key>
		<string>巴西乙</string>
		<key>SportTypeId</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Chs</key>
		<string>\足球\JP\日乙</string>
		<key>Classification</key>
		<integer>1</integer>
		<key>Eng</key>
		<string>\足球\JP\Japanese J League 2</string>
		<key>FullName</key>
		<string>日乙</string>
		<key>Id</key>
		<integer>545</integer>
		<key>SortName</key>
		<string>日乙</string>
		<key>SportTypeId</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Chs</key>
		<string>\足球\IT\意甲</string>
		<key>Classification</key>
		<integer>1</integer>
		<key>Eng</key>
		<string>\足球\IT\Italian Serie A</string>
		<key>FullName</key>
		<string>意甲</string>
		<key>Id</key>
		<integer>558</integer>
		<key>SortName</key>
		<string>意甲</string>
		<key>SportTypeId</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Chs</key>
		<string>\足球\BE\比甲</string>
		<key>Classification</key>
		<integer>1</integer>
		<key>Eng</key>
		<string>\足球\BE\Belgian First Division A</string>
		<key>FullName</key>
		<string>比甲</string>
		<key>Id</key>
		<integer>578</integer>
		<key>SortName</key>
		<string>比甲</string>
		<key>SportTypeId</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Chs</key>
		<string>\足球\JP\日职</string>
		<key>Classification</key>
		<integer>1</integer>
		<key>Eng</key>
		<string>\足球\JP\Japanese J League</string>
		<key>FullName</key>
		<string>日职</string>
		<key>Id</key>
		<integer>585</integer>
		<key>SortName</key>
		<string>日职</string>
		<key>SportTypeId</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Chs</key>
		<string>\足球\PT\葡甲</string>
		<key>Classification</key>
		<integer>1</integer>
		<key>Eng</key>
		<string>\足球\PT\Portuguese Segunda Liga</string>
		<key>FullName</key>
		<string>葡甲</string>
		<key>Id</key>
		<integer>616</integer>
		<key>SortName</key>
		<string>葡甲</string>
		<key>SportTypeId</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Chs</key>
		<string>\足球\US\美职</string>
		<key>Classification</key>
		<integer>1</integer>
		<key>Eng</key>
		<string>\足球\US\US Major League Soccer</string>
		<key>FullName</key>
		<string>美职</string>
		<key>Id</key>
		<integer>654</integer>
		<key>SortName</key>
		<string>美职</string>
		<key>SportTypeId</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Chs</key>
		<string>\足球\RO\罗甲</string>
		<key>Classification</key>
		<integer>1</integer>
		<key>Eng</key>
		<string>\足球\RO\Romanian Liga I</string>
		<key>FullName</key>
		<string>罗甲</string>
		<key>Id</key>
		<integer>659</integer>
		<key>SortName</key>
		<string>罗甲</string>
		<key>SportTypeId</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Chs</key>
		<string>\足球\AT\奥乙</string>
		<key>Classification</key>
		<integer>1</integer>
		<key>Eng</key>
		<string>\足球\AT\Austrian Erste Liga</string>
		<key>FullName</key>
		<string>奥乙</string>
		<key>Id</key>
		<integer>663</integer>
		<key>SortName</key>
		<string>奥乙</string>
		<key>SportTypeId</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Chs</key>
		<string>\足球\PL\波兰甲</string>
		<key>Classification</key>
		<integer>1</integer>
		<key>Eng</key>
		<string>\足球\PL\Polish Ekstraklasa</string>
		<key>FullName</key>
		<string>波兰甲</string>
		<key>Id</key>
		<integer>726</integer>
		<key>SortName</key>
		<string>波兰甲</string>
		<key>SportTypeId</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Chs</key>
		<string>\足球\FI\芬甲</string>
		<key>Classification</key>
		<integer>1</integer>
		<key>Eng</key>
		<string>\足球\FI\Finnish Ykkonen</string>
		<key>FullName</key>
		<string>芬甲</string>
		<key>Id</key>
		<integer>741</integer>
		<key>SortName</key>
		<string>芬兰</string>
		<key>SportTypeId</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Chs</key>
		<string>\足球\DK\丹麦甲级联赛</string>
		<key>Classification</key>
		<integer>1</integer>
		<key>Eng</key>
		<string>\足球\DK\Danish 1st Division</string>
		<key>FullName</key>
		<string>丹麦甲级联赛</string>
		<key>Id</key>
		<integer>785</integer>
		<key>SortName</key>
		<string>丹甲</string>
		<key>SportTypeId</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Chs</key>
		<string>\足球\AU\澳大利亚超级联赛</string>
		<key>Classification</key>
		<integer>1</integer>
		<key>Eng</key>
		<string>\足球\AU\Australian A-League</string>
		<key>FullName</key>
		<string>澳超</string>
		<key>Id</key>
		<integer>788</integer>
		<key>SortName</key>
		<string>澳超</string>
		<key>SportTypeId</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Chs</key>
		<string>\足球\DE\德国甲级联赛</string>
		<key>Classification</key>
		<integer>1</integer>
		<key>Eng</key>
		<string>\足球\DE\German Bundesliga</string>
		<key>FullName</key>
		<string>德国甲级联赛</string>
		<key>Id</key>
		<integer>792</integer>
		<key>SortName</key>
		<string>德甲</string>
		<key>SportTypeId</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Chs</key>
		<string>\足球\IT\意大利乙级联赛</string>
		<key>Classification</key>
		<integer>1</integer>
		<key>Eng</key>
		<string>\足球\IT\Italian Serie B</string>
		<key>FullName</key>
		<string>意大利乙级联赛</string>
		<key>Id</key>
		<integer>794</integer>
		<key>SortName</key>
		<string>意乙</string>
		<key>SportTypeId</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Chs</key>
		<string>\足球\ES\西班牙乙级联赛</string>
		<key>Classification</key>
		<integer>1</integer>
		<key>Eng</key>
		<string>\足球\ES\Spanish Segunda Division</string>
		<key>FullName</key>
		<string>西班牙乙级联赛</string>
		<key>Id</key>
		<integer>796</integer>
		<key>SortName</key>
		<string>西乙</string>
		<key>SportTypeId</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Chs</key>
		<string>\足球\FR\法国杯</string>
		<key>Classification</key>
		<integer>1</integer>
		<key>Eng</key>
		<string>\足球\FR\French Cup</string>
		<key>FullName</key>
		<string>法国杯</string>
		<key>Id</key>
		<integer>800</integer>
		<key>SortName</key>
		<string>法国杯</string>
		<key>SportTypeId</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Chs</key>
		<string>\足球\KR\韩国职业联赛</string>
		<key>Classification</key>
		<integer>1</integer>
		<key>Eng</key>
		<string>\足球\KR\South Korean K League Classic</string>
		<key>FullName</key>
		<string>韩国职业联赛</string>
		<key>Id</key>
		<integer>801</integer>
		<key>SortName</key>
		<string>韩职</string>
		<key>SportTypeId</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Chs</key>
		<string>\足球\SE\瑞典超级联赛</string>
		<key>Classification</key>
		<integer>1</integer>
		<key>Eng</key>
		<string>\足球\SE\Swedish Allsvenskan</string>
		<key>FullName</key>
		<string>瑞典超级联赛</string>
		<key>Id</key>
		<integer>806</integer>
		<key>SortName</key>
		<string>瑞典超</string>
		<key>SportTypeId</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
