<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>awayCount</key>
		<integer>30</integer>
		<key>awayPush</key>
		<integer>23</integer>
		<key>awayPush_normal_red</key>
		<integer>17</integer>
		<key>awayPush_red</key>
		<integer>15</integer>
		<key>awayUnPush</key>
		<integer>7</integer>
		<key>awayUnPush_normal_red</key>
		<integer>5</integer>
		<key>awayUnPush_red</key>
		<integer>5</integer>
		<key>homeCount</key>
		<integer>25</integer>
		<key>homePush</key>
		<integer>22</integer>
		<key>homePush_normal_red</key>
		<integer>19</integer>
		<key>homePush_red</key>
		<integer>13</integer>
		<key>homeUnPush</key>
		<integer>3</integer>
		<key>homeUnPush_normal_red</key>
		<integer>2</integer>
		<key>homeUnPush_red</key>
		<integer>2</integer>
		<key>name</key>
		<string>密尔沃基雄鹿</string>
		<key>rank</key>
		<string>东1</string>
	</dict>
	<dict>
		<key>awayCount</key>
		<integer>25</integer>
		<key>awayPush</key>
		<integer>14</integer>
		<key>awayPush_normal_red</key>
		<integer>8</integer>
		<key>awayPush_red</key>
		<integer>7</integer>
		<key>awayUnPush</key>
		<integer>11</integer>
		<key>awayUnPush_normal_red</key>
		<integer>5</integer>
		<key>awayUnPush_red</key>
		<integer>4</integer>
		<key>homeCount</key>
		<integer>29</integer>
		<key>homePush</key>
		<integer>28</integer>
		<key>homePush_normal_red</key>
		<integer>23</integer>
		<key>homePush_red</key>
		<integer>14</integer>
		<key>homeUnPush</key>
		<integer>1</integer>
		<key>homeUnPush_normal_red</key>
		<integer>0</integer>
		<key>homeUnPush_red</key>
		<integer>0</integer>
		<key>name</key>
		<string>多伦多猛龙</string>
		<key>rank</key>
		<string>东2</string>
	</dict>
	<dict>
		<key>awayCount</key>
		<integer>30</integer>
		<key>awayPush</key>
		<integer>18</integer>
		<key>awayPush_normal_red</key>
		<integer>10</integer>
		<key>awayPush_red</key>
		<integer>8</integer>
		<key>awayUnPush</key>
		<integer>12</integer>
		<key>awayUnPush_normal_red</key>
		<integer>6</integer>
		<key>awayUnPush_red</key>
		<integer>6</integer>
		<key>homeCount</key>
		<integer>26</integer>
		<key>homePush</key>
		<integer>24</integer>
		<key>homePush_normal_red</key>
		<integer>18</integer>
		<key>homePush_red</key>
		<integer>12</integer>
		<key>homeUnPush</key>
		<integer>2</integer>
		<key>homeUnPush_normal_red</key>
		<integer>0</integer>
		<key>homeUnPush_red</key>
		<integer>1</integer>
		<key>name</key>
		<string>费城76人</string>
		<key>rank</key>
		<string>东3</string>
	</dict>
	<dict>
		<key>awayCount</key>
		<integer>25</integer>
		<key>awayPush</key>
		<integer>15</integer>
		<key>awayPush_normal_red</key>
		<integer>8</integer>
		<key>awayPush_red</key>
		<integer>7</integer>
		<key>awayUnPush</key>
		<integer>10</integer>
		<key>awayUnPush_normal_red</key>
		<integer>5</integer>
		<key>awayUnPush_red</key>
		<integer>7</integer>
		<key>homeCount</key>
		<integer>29</integer>
		<key>homePush</key>
		<integer>25</integer>
		<key>homePush_normal_red</key>
		<integer>21</integer>
		<key>homePush_red</key>
		<integer>15</integer>
		<key>homeUnPush</key>
		<integer>4</integer>
		<key>homeUnPush_normal_red</key>
		<integer>0</integer>
		<key>homeUnPush_red</key>
		<integer>0</integer>
		<key>name</key>
		<string>波士顿凯尔特人</string>
		<key>rank</key>
		<string>东4</string>
	</dict>
	<dict>
		<key>awayCount</key>
		<integer>28</integer>
		<key>awayPush</key>
		<integer>9</integer>
		<key>awayPush_normal_red</key>
		<integer>6</integer>
		<key>awayPush_red</key>
		<integer>3</integer>
		<key>awayUnPush</key>
		<integer>19</integer>
		<key>awayUnPush_normal_red</key>
		<integer>4</integer>
		<key>awayUnPush_red</key>
		<integer>7</integer>
		<key>homeCount</key>
		<integer>26</integer>
		<key>homePush</key>
		<integer>19</integer>
		<key>homePush_normal_red</key>
		<integer>14</integer>
		<key>homePush_red</key>
		<integer>11</integer>
		<key>homeUnPush</key>
		<integer>7</integer>
		<key>homeUnPush_normal_red</key>
		<integer>2</integer>
		<key>homeUnPush_red</key>
		<integer>1</integer>
		<key>name</key>
		<string>印地安纳步行者</string>
		<key>rank</key>
		<string>东5</string>
	</dict>
	<dict>
		<key>awayCount</key>
		<integer>29</integer>
		<key>awayPush</key>
		<integer>8</integer>
		<key>awayPush_normal_red</key>
		<integer>7</integer>
		<key>awayPush_red</key>
		<integer>6</integer>
		<key>awayUnPush</key>
		<integer>21</integer>
		<key>awayUnPush_normal_red</key>
		<integer>6</integer>
		<key>awayUnPush_red</key>
		<integer>11</integer>
		<key>homeCount</key>
		<integer>25</integer>
		<key>homePush</key>
		<integer>15</integer>
		<key>homePush_normal_red</key>
		<integer>13</integer>
		<key>homePush_red</key>
		<integer>9</integer>
		<key>homeUnPush</key>
		<integer>10</integer>
		<key>homeUnPush_normal_red</key>
		<integer>4</integer>
		<key>homeUnPush_red</key>
		<integer>4</integer>
		<key>name</key>
		<string>布鲁克林篮网</string>
		<key>rank</key>
		<string>东6</string>
	</dict>
	<dict>
		<key>awayCount</key>
		<integer>29</integer>
		<key>awayPush</key>
		<integer>5</integer>
		<key>awayPush_normal_red</key>
		<integer>2</integer>
		<key>awayPush_red</key>
		<integer>2</integer>
		<key>awayUnPush</key>
		<integer>24</integer>
		<key>awayUnPush_normal_red</key>
		<integer>9</integer>
		<key>awayUnPush_red</key>
		<integer>11</integer>
		<key>homeCount</key>
		<integer>28</integer>
		<key>homePush</key>
		<integer>14</integer>
		<key>homePush_normal_red</key>
		<integer>11</integer>
		<key>homePush_red</key>
		<integer>9</integer>
		<key>homeUnPush</key>
		<integer>14</integer>
		<key>homeUnPush_normal_red</key>
		<integer>7</integer>
		<key>homeUnPush_red</key>
		<integer>6</integer>
		<key>name</key>
		<string>奥兰多魔术</string>
		<key>rank</key>
		<string>东7</string>
	</dict>
	<dict>
		<key>awayCount</key>
		<integer>31</integer>
		<key>awayPush</key>
		<integer>5</integer>
		<key>awayPush_normal_red</key>
		<integer>3</integer>
		<key>awayPush_red</key>
		<integer>3</integer>
		<key>awayUnPush</key>
		<integer>26</integer>
		<key>awayUnPush_normal_red</key>
		<integer>7</integer>
		<key>awayUnPush_red</key>
		<integer>11</integer>
		<key>homeCount</key>
		<integer>26</integer>
		<key>homePush</key>
		<integer>14</integer>
		<key>homePush_normal_red</key>
		<integer>11</integer>
		<key>homePush_red</key>
		<integer>10</integer>
		<key>homeUnPush</key>
		<integer>12</integer>
		<key>homeUnPush_normal_red</key>
		<integer>4</integer>
		<key>homeUnPush_red</key>
		<integer>6</integer>
		<key>name</key>
		<string>底特律活塞</string>
		<key>rank</key>
		<string>东8</string>
	</dict>
	<dict>
		<key>awayCount</key>
		<integer>27</integer>
		<key>awayPush</key>
		<integer>6</integer>
		<key>awayPush_normal_red</key>
		<integer>4</integer>
		<key>awayPush_red</key>
		<integer>4</integer>
		<key>awayUnPush</key>
		<integer>21</integer>
		<key>awayUnPush_normal_red</key>
		<integer>5</integer>
		<key>awayUnPush_red</key>
		<integer>7</integer>
		<key>homeCount</key>
		<integer>24</integer>
		<key>homePush</key>
		<integer>14</integer>
		<key>homePush_normal_red</key>
		<integer>11</integer>
		<key>homePush_red</key>
		<integer>8</integer>
		<key>homeUnPush</key>
		<integer>10</integer>
		<key>homeUnPush_normal_red</key>
		<integer>3</integer>
		<key>homeUnPush_red</key>
		<integer>3</integer>
		<key>name</key>
		<string>夏洛特黄蜂</string>
		<key>rank</key>
		<string>东9</string>
	</dict>
	<dict>
		<key>awayCount</key>
		<integer>26</integer>
		<key>awayPush</key>
		<integer>8</integer>
		<key>awayPush_normal_red</key>
		<integer>6</integer>
		<key>awayPush_red</key>
		<integer>5</integer>
		<key>awayUnPush</key>
		<integer>18</integer>
		<key>awayUnPush_normal_red</key>
		<integer>6</integer>
		<key>awayUnPush_red</key>
		<integer>10</integer>
		<key>homeCount</key>
		<integer>27</integer>
		<key>homePush</key>
		<integer>14</integer>
		<key>homePush_normal_red</key>
		<integer>9</integer>
		<key>homePush_red</key>
		<integer>5</integer>
		<key>homeUnPush</key>
		<integer>13</integer>
		<key>homeUnPush_normal_red</key>
		<integer>5</integer>
		<key>homeUnPush_red</key>
		<integer>6</integer>
		<key>name</key>
		<string>迈阿密热浪</string>
		<key>rank</key>
		<string>东10</string>
	</dict>
	<dict>
		<key>awayCount</key>
		<integer>24</integer>
		<key>awayPush</key>
		<integer>3</integer>
		<key>awayPush_normal_red</key>
		<integer>1</integer>
		<key>awayPush_red</key>
		<integer>1</integer>
		<key>awayUnPush</key>
		<integer>21</integer>
		<key>awayUnPush_normal_red</key>
		<integer>4</integer>
		<key>awayUnPush_red</key>
		<integer>9</integer>
		<key>homeCount</key>
		<integer>26</integer>
		<key>homePush</key>
		<integer>8</integer>
		<key>homePush_normal_red</key>
		<integer>5</integer>
		<key>homePush_red</key>
		<integer>4</integer>
		<key>homeUnPush</key>
		<integer>18</integer>
		<key>homeUnPush_normal_red</key>
		<integer>9</integer>
		<key>homeUnPush_red</key>
		<integer>11</integer>
		<key>name</key>
		<string>华盛顿奇才</string>
		<key>rank</key>
		<string>东11</string>
	</dict>
	<dict>
		<key>awayCount</key>
		<integer>27</integer>
		<key>awayPush</key>
		<integer>3</integer>
		<key>awayPush_normal_red</key>
		<integer>2</integer>
		<key>awayPush_red</key>
		<integer>2</integer>
		<key>awayUnPush</key>
		<integer>24</integer>
		<key>awayUnPush_normal_red</key>
		<integer>7</integer>
		<key>awayUnPush_red</key>
		<integer>16</integer>
		<key>homeCount</key>
		<integer>26</integer>
		<key>homePush</key>
		<integer>6</integer>
		<key>homePush_normal_red</key>
		<integer>3</integer>
		<key>homePush_red</key>
		<integer>2</integer>
		<key>homeUnPush</key>
		<integer>20</integer>
		<key>homeUnPush_normal_red</key>
		<integer>10</integer>
		<key>homeUnPush_red</key>
		<integer>14</integer>
		<key>name</key>
		<string>亚特兰大老鹰</string>
		<key>rank</key>
		<string>东12</string>
	</dict>
	<dict>
		<key>awayCount</key>
		<integer>27</integer>
		<key>awayPush</key>
		<integer>2</integer>
		<key>awayPush_normal_red</key>
		<integer>2</integer>
		<key>awayPush_red</key>
		<integer>2</integer>
		<key>awayUnPush</key>
		<integer>25</integer>
		<key>awayUnPush_normal_red</key>
		<integer>8</integer>
		<key>awayUnPush_red</key>
		<integer>13</integer>
		<key>homeCount</key>
		<integer>23</integer>
		<key>homePush</key>
		<integer>3</integer>
		<key>homePush_normal_red</key>
		<integer>0</integer>
		<key>homePush_red</key>
		<integer>0</integer>
		<key>homeUnPush</key>
		<integer>20</integer>
		<key>homeUnPush_normal_red</key>
		<integer>5</integer>
		<key>homeUnPush_red</key>
		<integer>7</integer>
		<key>name</key>
		<string>芝加哥公牛</string>
		<key>rank</key>
		<string>东13</string>
	</dict>
	<dict>
		<key>awayCount</key>
		<integer>25</integer>
		<key>awayPush</key>
		<integer>1</integer>
		<key>awayPush_normal_red</key>
		<integer>0</integer>
		<key>awayPush_red</key>
		<integer>0</integer>
		<key>awayUnPush</key>
		<integer>24</integer>
		<key>awayUnPush_normal_red</key>
		<integer>4</integer>
		<key>awayUnPush_red</key>
		<integer>11</integer>
		<key>homeCount</key>
		<integer>25</integer>
		<key>homePush</key>
		<integer>4</integer>
		<key>homePush_normal_red</key>
		<integer>3</integer>
		<key>homePush_red</key>
		<integer>3</integer>
		<key>homeUnPush</key>
		<integer>21</integer>
		<key>homeUnPush_normal_red</key>
		<integer>5</integer>
		<key>homeUnPush_red</key>
		<integer>8</integer>
		<key>name</key>
		<string>克利夫兰骑士</string>
		<key>rank</key>
		<string>东14</string>
	</dict>
	<dict>
		<key>awayCount</key>
		<integer>24</integer>
		<key>awayPush</key>
		<integer>0</integer>
		<key>awayPush_normal_red</key>
		<integer>0</integer>
		<key>awayPush_red</key>
		<integer>0</integer>
		<key>awayUnPush</key>
		<integer>24</integer>
		<key>awayUnPush_normal_red</key>
		<integer>4</integer>
		<key>awayUnPush_red</key>
		<integer>11</integer>
		<key>homeCount</key>
		<integer>24</integer>
		<key>homePush</key>
		<integer>3</integer>
		<key>homePush_normal_red</key>
		<integer>1</integer>
		<key>homePush_red</key>
		<integer>1</integer>
		<key>homeUnPush</key>
		<integer>21</integer>
		<key>homeUnPush_normal_red</key>
		<integer>4</integer>
		<key>homeUnPush_red</key>
		<integer>6</integer>
		<key>name</key>
		<string>纽约尼克斯</string>
		<key>rank</key>
		<string>东15</string>
	</dict>
	<dict>
		<key>awayCount</key>
		<integer>28</integer>
		<key>awayPush</key>
		<integer>26</integer>
		<key>awayPush_normal_red</key>
		<integer>19</integer>
		<key>awayPush_red</key>
		<integer>12</integer>
		<key>awayUnPush</key>
		<integer>2</integer>
		<key>awayUnPush_normal_red</key>
		<integer>2</integer>
		<key>awayUnPush_red</key>
		<integer>2</integer>
		<key>homeCount</key>
		<integer>29</integer>
		<key>homePush</key>
		<integer>27</integer>
		<key>homePush_normal_red</key>
		<integer>16</integer>
		<key>homePush_red</key>
		<integer>8</integer>
		<key>homeUnPush</key>
		<integer>2</integer>
		<key>homeUnPush_normal_red</key>
		<integer>2</integer>
		<key>homeUnPush_red</key>
		<integer>2</integer>
		<key>name</key>
		<string>金州勇士</string>
		<key>rank</key>
		<string>西1</string>
	</dict>
	<dict>
		<key>awayCount</key>
		<integer>27</integer>
		<key>awayPush</key>
		<integer>13</integer>
		<key>awayPush_normal_red</key>
		<integer>9</integer>
		<key>awayPush_red</key>
		<integer>6</integer>
		<key>awayUnPush</key>
		<integer>14</integer>
		<key>awayUnPush_normal_red</key>
		<integer>4</integer>
		<key>awayUnPush_red</key>
		<integer>4</integer>
		<key>homeCount</key>
		<integer>31</integer>
		<key>homePush</key>
		<integer>23</integer>
		<key>homePush_normal_red</key>
		<integer>19</integer>
		<key>homePush_red</key>
		<integer>14</integer>
		<key>homeUnPush</key>
		<integer>8</integer>
		<key>homeUnPush_normal_red</key>
		<integer>7</integer>
		<key>homeUnPush_red</key>
		<integer>4</integer>
		<key>name</key>
		<string>丹佛掘金</string>
		<key>rank</key>
		<string>西2</string>
	</dict>
	<dict>
		<key>awayCount</key>
		<integer>29</integer>
		<key>awayPush</key>
		<integer>13</integer>
		<key>awayPush_normal_red</key>
		<integer>10</integer>
		<key>awayPush_red</key>
		<integer>10</integer>
		<key>awayUnPush</key>
		<integer>16</integer>
		<key>awayUnPush_normal_red</key>
		<integer>7</integer>
		<key>awayUnPush_red</key>
		<integer>8</integer>
		<key>homeCount</key>
		<integer>28</integer>
		<key>homePush</key>
		<integer>21</integer>
		<key>homePush_normal_red</key>
		<integer>18</integer>
		<key>homePush_red</key>
		<integer>11</integer>
		<key>homeUnPush</key>
		<integer>7</integer>
		<key>homeUnPush_normal_red</key>
		<integer>6</integer>
		<key>homeUnPush_red</key>
		<integer>4</integer>
		<key>name</key>
		<string>波特兰拓荒者</string>
		<key>rank</key>
		<string>西3</string>
	</dict>
	<dict>
		<key>awayCount</key>
		<integer>26</integer>
		<key>awayPush</key>
		<integer>17</integer>
		<key>awayPush_normal_red</key>
		<integer>10</integer>
		<key>awayPush_red</key>
		<integer>8</integer>
		<key>awayUnPush</key>
		<integer>9</integer>
		<key>awayUnPush_normal_red</key>
		<integer>5</integer>
		<key>awayUnPush_red</key>
		<integer>5</integer>
		<key>homeCount</key>
		<integer>32</integer>
		<key>homePush</key>
		<integer>25</integer>
		<key>homePush_normal_red</key>
		<integer>21</integer>
		<key>homePush_red</key>
		<integer>15</integer>
		<key>homeUnPush</key>
		<integer>7</integer>
		<key>homeUnPush_normal_red</key>
		<integer>7</integer>
		<key>homeUnPush_red</key>
		<integer>7</integer>
		<key>name</key>
		<string>休士顿火箭</string>
		<key>rank</key>
		<string>西4</string>
	</dict>
	<dict>
		<key>awayCount</key>
		<integer>26</integer>
		<key>awayPush</key>
		<integer>11</integer>
		<key>awayPush_normal_red</key>
		<integer>8</integer>
		<key>awayPush_red</key>
		<integer>8</integer>
		<key>awayUnPush</key>
		<integer>15</integer>
		<key>awayUnPush_normal_red</key>
		<integer>4</integer>
		<key>awayUnPush_red</key>
		<integer>8</integer>
		<key>homeCount</key>
		<integer>31</integer>
		<key>homePush</key>
		<integer>24</integer>
		<key>homePush_normal_red</key>
		<integer>18</integer>
		<key>homePush_red</key>
		<integer>12</integer>
		<key>homeUnPush</key>
		<integer>7</integer>
		<key>homeUnPush_normal_red</key>
		<integer>6</integer>
		<key>homeUnPush_red</key>
		<integer>6</integer>
		<key>name</key>
		<string>犹他爵士</string>
		<key>rank</key>
		<string>西5</string>
	</dict>
	<dict>
		<key>awayCount</key>
		<integer>30</integer>
		<key>awayPush</key>
		<integer>16</integer>
		<key>awayPush_normal_red</key>
		<integer>7</integer>
		<key>awayPush_red</key>
		<integer>6</integer>
		<key>awayUnPush</key>
		<integer>14</integer>
		<key>awayUnPush_normal_red</key>
		<integer>7</integer>
		<key>awayUnPush_red</key>
		<integer>8</integer>
		<key>homeCount</key>
		<integer>27</integer>
		<key>homePush</key>
		<integer>21</integer>
		<key>homePush_normal_red</key>
		<integer>12</integer>
		<key>homePush_red</key>
		<integer>10</integer>
		<key>homeUnPush</key>
		<integer>6</integer>
		<key>homeUnPush_normal_red</key>
		<integer>4</integer>
		<key>homeUnPush_red</key>
		<integer>3</integer>
		<key>name</key>
		<string>俄克拉荷马雷霆</string>
		<key>rank</key>
		<string>西6</string>
	</dict>
	<dict>
		<key>awayCount</key>
		<integer>26</integer>
		<key>awayPush</key>
		<integer>12</integer>
		<key>awayPush_normal_red</key>
		<integer>8</integer>
		<key>awayPush_red</key>
		<integer>7</integer>
		<key>awayUnPush</key>
		<integer>14</integer>
		<key>awayUnPush_normal_red</key>
		<integer>5</integer>
		<key>awayUnPush_red</key>
		<integer>8</integer>
		<key>homeCount</key>
		<integer>29</integer>
		<key>homePush</key>
		<integer>18</integer>
		<key>homePush_normal_red</key>
		<integer>15</integer>
		<key>homePush_red</key>
		<integer>9</integer>
		<key>homeUnPush</key>
		<integer>11</integer>
		<key>homeUnPush_normal_red</key>
		<integer>8</integer>
		<key>homeUnPush_red</key>
		<integer>7</integer>
		<key>name</key>
		<string>圣安东尼奥马刺</string>
		<key>rank</key>
		<string>西7</string>
	</dict>
	<dict>
		<key>awayCount</key>
		<integer>24</integer>
		<key>awayPush</key>
		<integer>7</integer>
		<key>awayPush_normal_red</key>
		<integer>6</integer>
		<key>awayPush_red</key>
		<integer>4</integer>
		<key>awayUnPush</key>
		<integer>17</integer>
		<key>awayUnPush_normal_red</key>
		<integer>7</integer>
		<key>awayUnPush_red</key>
		<integer>9</integer>
		<key>homeCount</key>
		<integer>32</integer>
		<key>homePush</key>
		<integer>20</integer>
		<key>homePush_normal_red</key>
		<integer>13</integer>
		<key>homePush_red</key>
		<integer>10</integer>
		<key>homeUnPush</key>
		<integer>12</integer>
		<key>homeUnPush_normal_red</key>
		<integer>4</integer>
		<key>homeUnPush_red</key>
		<integer>5</integer>
		<key>name</key>
		<string>洛杉矶快船队</string>
		<key>rank</key>
		<string>西8</string>
	</dict>
	<dict>
		<key>awayCount</key>
		<integer>26</integer>
		<key>awayPush</key>
		<integer>6</integer>
		<key>awayPush_normal_red</key>
		<integer>3</integer>
		<key>awayPush_red</key>
		<integer>2</integer>
		<key>awayUnPush</key>
		<integer>20</integer>
		<key>awayUnPush_normal_red</key>
		<integer>4</integer>
		<key>awayUnPush_red</key>
		<integer>9</integer>
		<key>homeCount</key>
		<integer>27</integer>
		<key>homePush</key>
		<integer>12</integer>
		<key>homePush_normal_red</key>
		<integer>8</integer>
		<key>homePush_red</key>
		<integer>6</integer>
		<key>homeUnPush</key>
		<integer>15</integer>
		<key>homeUnPush_normal_red</key>
		<integer>8</integer>
		<key>homeUnPush_red</key>
		<integer>10</integer>
		<key>name</key>
		<string>萨克拉门托国王</string>
		<key>rank</key>
		<string>西9</string>
	</dict>
	<dict>
		<key>awayCount</key>
		<integer>27</integer>
		<key>awayPush</key>
		<integer>9</integer>
		<key>awayPush_normal_red</key>
		<integer>3</integer>
		<key>awayPush_red</key>
		<integer>3</integer>
		<key>awayUnPush</key>
		<integer>18</integer>
		<key>awayUnPush_normal_red</key>
		<integer>5</integer>
		<key>awayUnPush_red</key>
		<integer>7</integer>
		<key>homeCount</key>
		<integer>25</integer>
		<key>homePush</key>
		<integer>10</integer>
		<key>homePush_normal_red</key>
		<integer>7</integer>
		<key>homePush_red</key>
		<integer>7</integer>
		<key>homeUnPush</key>
		<integer>15</integer>
		<key>homeUnPush_normal_red</key>
		<integer>4</integer>
		<key>homeUnPush_red</key>
		<integer>5</integer>
		<key>name</key>
		<string>洛杉矶湖人队</string>
		<key>rank</key>
		<string>西10</string>
	</dict>
	<dict>
		<key>awayCount</key>
		<integer>25</integer>
		<key>awayPush</key>
		<integer>7</integer>
		<key>awayPush_normal_red</key>
		<integer>4</integer>
		<key>awayPush_red</key>
		<integer>4</integer>
		<key>awayUnPush</key>
		<integer>18</integer>
		<key>awayUnPush_normal_red</key>
		<integer>5</integer>
		<key>awayUnPush_red</key>
		<integer>8</integer>
		<key>homeCount</key>
		<integer>25</integer>
		<key>homePush</key>
		<integer>14</integer>
		<key>homePush_normal_red</key>
		<integer>9</integer>
		<key>homePush_red</key>
		<integer>7</integer>
		<key>homeUnPush</key>
		<integer>11</integer>
		<key>homeUnPush_normal_red</key>
		<integer>5</integer>
		<key>homeUnPush_red</key>
		<integer>6</integer>
		<key>name</key>
		<string>明尼苏达森林狼</string>
		<key>rank</key>
		<string>西11</string>
	</dict>
	<dict>
		<key>awayCount</key>
		<integer>24</integer>
		<key>awayPush</key>
		<integer>6</integer>
		<key>awayPush_normal_red</key>
		<integer>2</integer>
		<key>awayPush_red</key>
		<integer>2</integer>
		<key>awayUnPush</key>
		<integer>18</integer>
		<key>awayUnPush_normal_red</key>
		<integer>7</integer>
		<key>awayUnPush_red</key>
		<integer>11</integer>
		<key>homeCount</key>
		<integer>25</integer>
		<key>homePush</key>
		<integer>8</integer>
		<key>homePush_normal_red</key>
		<integer>4</integer>
		<key>homePush_red</key>
		<integer>3</integer>
		<key>homeUnPush</key>
		<integer>17</integer>
		<key>homeUnPush_normal_red</key>
		<integer>4</integer>
		<key>homeUnPush_red</key>
		<integer>6</integer>
		<key>name</key>
		<string>新奥尔良鹈鹕队</string>
		<key>rank</key>
		<string>西12</string>
	</dict>
	<dict>
		<key>awayCount</key>
		<integer>30</integer>
		<key>awayPush</key>
		<integer>4</integer>
		<key>awayPush_normal_red</key>
		<integer>3</integer>
		<key>awayPush_red</key>
		<integer>3</integer>
		<key>awayUnPush</key>
		<integer>26</integer>
		<key>awayUnPush_normal_red</key>
		<integer>4</integer>
		<key>awayUnPush_red</key>
		<integer>14</integer>
		<key>homeCount</key>
		<integer>24</integer>
		<key>homePush</key>
		<integer>13</integer>
		<key>homePush_normal_red</key>
		<integer>5</integer>
		<key>homePush_red</key>
		<integer>3</integer>
		<key>homeUnPush</key>
		<integer>11</integer>
		<key>homeUnPush_normal_red</key>
		<integer>5</integer>
		<key>homeUnPush_red</key>
		<integer>8</integer>
		<key>name</key>
		<string>达拉斯小牛</string>
		<key>rank</key>
		<string>西12</string>
	</dict>
	<dict>
		<key>awayCount</key>
		<integer>25</integer>
		<key>awayPush</key>
		<integer>3</integer>
		<key>awayPush_normal_red</key>
		<integer>1</integer>
		<key>awayPush_red</key>
		<integer>1</integer>
		<key>awayUnPush</key>
		<integer>22</integer>
		<key>awayUnPush_normal_red</key>
		<integer>3</integer>
		<key>awayUnPush_red</key>
		<integer>9</integer>
		<key>homeCount</key>
		<integer>27</integer>
		<key>homePush</key>
		<integer>10</integer>
		<key>homePush_normal_red</key>
		<integer>3</integer>
		<key>homePush_red</key>
		<integer>2</integer>
		<key>homeUnPush</key>
		<integer>17</integer>
		<key>homeUnPush_normal_red</key>
		<integer>8</integer>
		<key>homeUnPush_red</key>
		<integer>10</integer>
		<key>name</key>
		<string>孟菲斯灰熊</string>
		<key>rank</key>
		<string>西14</string>
	</dict>
	<dict>
		<key>awayCount</key>
		<integer>26</integer>
		<key>awayPush</key>
		<integer>1</integer>
		<key>awayPush_normal_red</key>
		<integer>1</integer>
		<key>awayPush_red</key>
		<integer>1</integer>
		<key>awayUnPush</key>
		<integer>25</integer>
		<key>awayUnPush_normal_red</key>
		<integer>5</integer>
		<key>awayUnPush_red</key>
		<integer>13</integer>
		<key>homeCount</key>
		<integer>25</integer>
		<key>homePush</key>
		<integer>3</integer>
		<key>homePush_normal_red</key>
		<integer>1</integer>
		<key>homePush_red</key>
		<integer>1</integer>
		<key>homeUnPush</key>
		<integer>22</integer>
		<key>homeUnPush_normal_red</key>
		<integer>8</integer>
		<key>homeUnPush_red</key>
		<integer>10</integer>
		<key>name</key>
		<string>菲尼克斯太阳</string>
		<key>rank</key>
		<string>西15</string>
	</dict>
</array>
</plist>
