<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>29234837</key>
	<dict>
		<key>AsianAvrLet</key>
		<string>0</string>
		<key>AwayTeam</key>
		<string>奥兰多魔术</string>
		<key>AwayTeamId</key>
		<integer>237475</integer>
		<key>BfAmountAway</key>
		<real>5379.9200000000001</real>
		<key>BfAmountDraw</key>
		<real>0.0</real>
		<key>BfAmountHome</key>
		<real>74396.699999999997</real>
		<key>BfIndexAway</key>
		<real>27.411300000000001</real>
		<key>BfIndexDraw</key>
		<real>0.0</real>
		<key>BfIndexHome</key>
		<real>72.588700000000003</real>
		<key>BfOddsAway</key>
		<real>6.4000000000000004</real>
		<key>BfOddsDraw</key>
		<real>0.0</real>
		<key>BfOddsHome</key>
		<real>1.1899999999999999</real>
		<key>BfPayoutAway</key>
		<real>-58.336300000000001</real>
		<key>BfPayoutDraw</key>
		<real>0.0</real>
		<key>BfPayoutHome</key>
		<real>10.331099999999999</real>
		<key>Classifnication</key>
		<integer>-1</integer>
		<key>EventId</key>
		<integer>29234837</integer>
		<key>EventTypeId</key>
		<integer>7522</integer>
		<key>HomeTeam</key>
		<string>多伦多猛龙</string>
		<key>HomeTeamId</key>
		<integer>237476</integer>
		<key>IsTutorial</key>
		<false/>
		<key>KellyAway</key>
		<real>0.0</real>
		<key>KellyDraw</key>
		<real>0.0</real>
		<key>KellyHome</key>
		<real>0.0</real>
		<key>LeagueId</key>
		<integer>230</integer>
		<key>MatchTime</key>
		<string>2019-04-17T08:10:00</string>
		<key>MaxLastOdds</key>
		<real>1.1699999999999999</real>
		<key>MaxTeamId</key>
		<integer>237476</integer>
		<key>MaxTradedChange</key>
		<real>40228.349999999991</real>
		<key>MaxUpdateTime</key>
		<string>2019-04-16T16:28:58</string>
		<key>MediaIndexAway</key>
		<real>0.0</real>
		<key>MediaIndexDraw</key>
		<real>0.0</real>
		<key>MediaIndexHome</key>
		<real>0.0</real>
		<key>SortName</key>
		<string>NBA</string>
		<key>UnusualHot</key>
		<integer>0</integer>
		<key>UnusualIndex</key>
		<integer>1</integer>
		<key>UnusualPayout</key>
		<integer>0</integer>
	</dict>
	<key>29235039</key>
	<dict>
		<key>AsianAvrLet</key>
		<string>0</string>
		<key>AwayTeam</key>
		<string>圣安东尼奥马刺</string>
		<key>AwayTeamId</key>
		<integer>237471</integer>
		<key>BfAmountAway</key>
		<real>3059.48</real>
		<key>BfAmountDraw</key>
		<real>0.0</real>
		<key>BfAmountHome</key>
		<real>11971.57</real>
		<key>BfIndexAway</key>
		<real>38.759399999999999</real>
		<key>BfIndexDraw</key>
		<real>0.0</real>
		<key>BfIndexHome</key>
		<real>61.240600000000001</real>
		<key>BfOddsAway</key>
		<real>3.6000000000000001</real>
		<key>BfOddsDraw</key>
		<real>0.0</real>
		<key>BfOddsHome</key>
		<real>1.3799999999999999</real>
		<key>BfPayoutAway</key>
		<real>-30.179300000000001</real>
		<key>BfPayoutDraw</key>
		<real>0.0</real>
		<key>BfPayoutHome</key>
		<real>10.318300000000001</real>
		<key>Classifnication</key>
		<integer>-1</integer>
		<key>EventId</key>
		<integer>29235039</integer>
		<key>EventTypeId</key>
		<integer>7522</integer>
		<key>HomeTeam</key>
		<string>丹佛掘金</string>
		<key>HomeTeamId</key>
		<integer>237492</integer>
		<key>IsTutorial</key>
		<false/>
		<key>KellyAway</key>
		<real>0.0</real>
		<key>KellyDraw</key>
		<real>0.0</real>
		<key>KellyHome</key>
		<real>0.0</real>
		<key>LeagueId</key>
		<integer>230</integer>
		<key>MatchTime</key>
		<string>2019-04-17T09:10:00</string>
		<key>MaxLastOdds</key>
		<real>1.3600000000000001</real>
		<key>MaxTeamId</key>
		<integer>237492</integer>
		<key>MaxTradedChange</key>
		<real>2241.4499999999989</real>
		<key>MaxUpdateTime</key>
		<string>2019-04-16T16:25:48</string>
		<key>MediaIndexAway</key>
		<real>0.0</real>
		<key>MediaIndexDraw</key>
		<real>0.0</real>
		<key>MediaIndexHome</key>
		<real>0.0</real>
		<key>SortName</key>
		<string>NBA</string>
		<key>UnusualHot</key>
		<integer>0</integer>
		<key>UnusualIndex</key>
		<integer>0</integer>
		<key>UnusualPayout</key>
		<integer>0</integer>
	</dict>
	<key>29236058</key>
	<dict>
		<key>AsianAvrLet</key>
		<string>0</string>
		<key>AwayTeam</key>
		<string>俄克拉荷马雷霆</string>
		<key>AwayTeamId</key>
		<integer>3319741</integer>
		<key>BfAmountAway</key>
		<real>5795.6199999999999</real>
		<key>BfAmountDraw</key>
		<real>0.0</real>
		<key>BfAmountHome</key>
		<real>23595.650000000001</real>
		<key>BfIndexAway</key>
		<real>22.192599999999999</real>
		<key>BfIndexDraw</key>
		<real>0.0</real>
		<key>BfIndexHome</key>
		<real>77.807400000000001</real>
		<key>BfOddsAway</key>
		<real>2.1600000000000001</real>
		<key>BfOddsDraw</key>
		<real>0.0</real>
		<key>BfOddsHome</key>
		<real>1.8400000000000001</real>
		<key>BfPayoutAway</key>
		<real>-57.454000000000001</real>
		<key>BfPayoutDraw</key>
		<real>0.0</real>
		<key>BfPayoutHome</key>
		<real>49.166600000000003</real>
		<key>Classifnication</key>
		<integer>-1</integer>
		<key>EventId</key>
		<integer>29236058</integer>
		<key>EventTypeId</key>
		<integer>7522</integer>
		<key>HomeTeam</key>
		<string>波特兰拓荒者</string>
		<key>HomeTeamId</key>
		<integer>237480</integer>
		<key>IsTutorial</key>
		<false/>
		<key>KellyAway</key>
		<real>0.0</real>
		<key>KellyDraw</key>
		<real>0.0</real>
		<key>KellyHome</key>
		<real>0.0</real>
		<key>LeagueId</key>
		<integer>230</integer>
		<key>MatchTime</key>
		<string>2019-04-17T10:40:00</string>
		<key>MaxLastOdds</key>
		<real>1.8600000000000001</real>
		<key>MaxTeamId</key>
		<integer>237480</integer>
		<key>MaxTradedChange</key>
		<real>1712.3099999999977</real>
		<key>MaxUpdateTime</key>
		<string>2019-04-16T16:29:53</string>
		<key>MediaIndexAway</key>
		<real>0.0</real>
		<key>MediaIndexDraw</key>
		<real>0.0</real>
		<key>MediaIndexHome</key>
		<real>0.0</real>
		<key>SortName</key>
		<string>NBA</string>
		<key>UnusualHot</key>
		<integer>0</integer>
		<key>UnusualIndex</key>
		<integer>1</integer>
		<key>UnusualPayout</key>
		<integer>0</integer>
	</dict>
	<key>29236081</key>
	<dict>
		<key>AsianAvrLet</key>
		<string>0</string>
		<key>AwayTeam</key>
		<string>印地安纳步行者</string>
		<key>AwayTeamId</key>
		<integer>237481</integer>
		<key>BfAmountAway</key>
		<real>106.73999999999999</real>
		<key>BfAmountDraw</key>
		<real>0.0</real>
		<key>BfAmountHome</key>
		<real>3633.6599999999999</real>
		<key>BfIndexAway</key>
		<real>7.6172000000000004</real>
		<key>BfIndexDraw</key>
		<real>0.0</real>
		<key>BfIndexHome</key>
		<real>92.382800000000003</real>
		<key>BfOddsAway</key>
		<real>3.7000000000000002</real>
		<key>BfOddsDraw</key>
		<real>0.0</real>
		<key>BfOddsHome</key>
		<real>1.3400000000000001</real>
		<key>BfPayoutAway</key>
		<real>-89.256299999999996</real>
		<key>BfPayoutDraw</key>
		<real>0.0</real>
		<key>BfPayoutHome</key>
		<real>30.302099999999999</real>
		<key>Classifnication</key>
		<integer>-1</integer>
		<key>EventId</key>
		<integer>29236081</integer>
		<key>EventTypeId</key>
		<integer>7522</integer>
		<key>HomeTeam</key>
		<string>波士顿凯尔特人</string>
		<key>HomeTeamId</key>
		<integer>60427</integer>
		<key>IsTutorial</key>
		<false/>
		<key>KellyAway</key>
		<real>0.0</real>
		<key>KellyDraw</key>
		<real>0.0</real>
		<key>KellyHome</key>
		<real>0.0</real>
		<key>LeagueId</key>
		<integer>230</integer>
		<key>MatchTime</key>
		<string>2019-04-18T07:10:00</string>
		<key>MaxLastOdds</key>
		<real>1.3400000000000001</real>
		<key>MaxTeamId</key>
		<integer>60427</integer>
		<key>MaxTradedChange</key>
		<real>560.94999999999982</real>
		<key>MaxUpdateTime</key>
		<string>2019-04-16T16:01:29</string>
		<key>MediaIndexAway</key>
		<real>0.0</real>
		<key>MediaIndexDraw</key>
		<real>0.0</real>
		<key>MediaIndexHome</key>
		<real>0.0</real>
		<key>SortName</key>
		<string>NBA</string>
		<key>UnusualHot</key>
		<integer>0</integer>
		<key>UnusualIndex</key>
		<integer>1</integer>
		<key>UnusualPayout</key>
		<integer>0</integer>
	</dict>
	<key>29236157</key>
	<dict>
		<key>AsianAvrLet</key>
		<string>0</string>
		<key>AwayTeam</key>
		<string>底特律活塞</string>
		<key>AwayTeamId</key>
		<integer>237474</integer>
		<key>BfAmountAway</key>
		<real>13.83</real>
		<key>BfAmountDraw</key>
		<real>0.0</real>
		<key>BfAmountHome</key>
		<real>20683.299999999999</real>
		<key>BfIndexAway</key>
		<real>0.95399999999999996</real>
		<key>BfIndexDraw</key>
		<real>0.0</real>
		<key>BfIndexHome</key>
		<real>99.046000000000006</real>
		<key>BfOddsAway</key>
		<real>15.5</real>
		<key>BfOddsDraw</key>
		<real>0.0</real>
		<key>BfOddsHome</key>
		<real>1.0800000000000001</real>
		<key>BfPayoutAway</key>
		<real>-98.964299999999994</real>
		<key>BfPayoutDraw</key>
		<real>0.0</real>
		<key>BfPayoutHome</key>
		<real>7.5297000000000001</real>
		<key>Classifnication</key>
		<integer>-1</integer>
		<key>EventId</key>
		<integer>29236157</integer>
		<key>EventTypeId</key>
		<integer>7522</integer>
		<key>HomeTeam</key>
		<string>密尔沃基雄鹿</string>
		<key>HomeTeamId</key>
		<integer>237477</integer>
		<key>IsTutorial</key>
		<false/>
		<key>KellyAway</key>
		<real>0.0</real>
		<key>KellyDraw</key>
		<real>0.0</real>
		<key>KellyHome</key>
		<real>0.0</real>
		<key>LeagueId</key>
		<integer>230</integer>
		<key>MatchTime</key>
		<string>2019-04-18T08:10:00</string>
		<key>MaxLastOdds</key>
		<real>1.0800000000000001</real>
		<key>MaxTeamId</key>
		<integer>237477</integer>
		<key>MaxTradedChange</key>
		<real>6919.0799999999999</real>
		<key>MaxUpdateTime</key>
		<string>2019-04-16T14:53:44</string>
		<key>MediaIndexAway</key>
		<real>0.0</real>
		<key>MediaIndexDraw</key>
		<real>0.0</real>
		<key>MediaIndexHome</key>
		<real>0.0</real>
		<key>SortName</key>
		<string>NBA</string>
		<key>UnusualHot</key>
		<integer>0</integer>
		<key>UnusualIndex</key>
		<integer>1</integer>
		<key>UnusualPayout</key>
		<integer>0</integer>
	</dict>
	<key>29236213</key>
	<dict>
		<key>AsianAvrLet</key>
		<string>0</string>
		<key>AwayTeam</key>
		<string>犹他爵士</string>
		<key>AwayTeamId</key>
		<integer>237484</integer>
		<key>BfAmountAway</key>
		<real>316.12</real>
		<key>BfAmountDraw</key>
		<real>0.0</real>
		<key>BfAmountHome</key>
		<real>686.65999999999997</real>
		<key>BfIndexAway</key>
		<real>53.505299999999998</real>
		<key>BfIndexDraw</key>
		<real>0.0</real>
		<key>BfIndexHome</key>
		<real>46.494700000000002</real>
		<key>BfOddsAway</key>
		<real>3.6499999999999999</real>
		<key>BfOddsDraw</key>
		<real>0.0</real>
		<key>BfOddsHome</key>
		<real>1.3799999999999999</real>
		<key>BfPayoutAway</key>
		<real>10.647</real>
		<key>BfPayoutDraw</key>
		<real>0.0</real>
		<key>BfPayoutHome</key>
		<real>-3.8504999999999998</real>
		<key>Classifnication</key>
		<integer>-1</integer>
		<key>EventId</key>
		<integer>29236213</integer>
		<key>EventTypeId</key>
		<integer>7522</integer>
		<key>HomeTeam</key>
		<string>休士顿火箭</string>
		<key>HomeTeamId</key>
		<integer>237488</integer>
		<key>IsTutorial</key>
		<false/>
		<key>KellyAway</key>
		<real>0.0</real>
		<key>KellyDraw</key>
		<real>0.0</real>
		<key>KellyHome</key>
		<real>0.0</real>
		<key>LeagueId</key>
		<integer>230</integer>
		<key>MatchTime</key>
		<string>2019-04-18T09:40:00</string>
		<key>MaxLastOdds</key>
		<real>1.3799999999999999</real>
		<key>MaxTeamId</key>
		<integer>237488</integer>
		<key>MaxTradedChange</key>
		<real>409.81999999999999</real>
		<key>MaxUpdateTime</key>
		<string>2019-04-16T10:53:02</string>
		<key>MediaIndexAway</key>
		<real>0.0</real>
		<key>MediaIndexDraw</key>
		<real>0.0</real>
		<key>MediaIndexHome</key>
		<real>0.0</real>
		<key>SortName</key>
		<string>NBA</string>
		<key>UnusualHot</key>
		<integer>0</integer>
		<key>UnusualIndex</key>
		<integer>0</integer>
		<key>UnusualPayout</key>
		<integer>0</integer>
	</dict>
	<key>29249381</key>
	<dict>
		<key>AsianAvrLet</key>
		<string>0</string>
		<key>AwayTeam</key>
		<string>波士顿凯尔特人</string>
		<key>AwayTeamId</key>
		<integer>60427</integer>
		<key>BfAmountAway</key>
		<real>9389.0799999999999</real>
		<key>BfAmountDraw</key>
		<real>0.0</real>
		<key>BfAmountHome</key>
		<real>22440.060000000001</real>
		<key>BfIndexAway</key>
		<real>55.2059</real>
		<key>BfIndexDraw</key>
		<real>0.0</real>
		<key>BfIndexHome</key>
		<real>44.7941</real>
		<key>BfOddsAway</key>
		<real>3.8500000000000001</real>
		<key>BfOddsDraw</key>
		<real>0.0</real>
		<key>BfOddsHome</key>
		<real>1.3500000000000001</real>
		<key>BfPayoutAway</key>
		<real>15.624499999999999</real>
		<key>BfPayoutDraw</key>
		<real>0.0</real>
		<key>BfPayoutHome</key>
		<real>-6.1822999999999997</real>
		<key>Classifnication</key>
		<integer>-1</integer>
		<key>EventId</key>
		<integer>29249381</integer>
		<key>EventTypeId</key>
		<integer>7522</integer>
		<key>HomeTeam</key>
		<string>密尔沃基雄鹿</string>
		<key>HomeTeamId</key>
		<integer>237477</integer>
		<key>IsTutorial</key>
		<false/>
		<key>KellyAway</key>
		<real>0.0</real>
		<key>KellyDraw</key>
		<real>0.0</real>
		<key>KellyHome</key>
		<real>0.0</real>
		<key>LeagueId</key>
		<integer>230</integer>
		<key>MatchTime</key>
		<string>2019-04-29T01:10:00</string>
		<key>MaxLastOdds</key>
		<real>1.3300000000000001</real>
		<key>MaxTeamId</key>
		<integer>237477</integer>
		<key>MaxTradedChange</key>
		<real>2806.6800000000003</real>
		<key>MaxUpdateTime</key>
		<string>2019-04-27T19:05:26</string>
		<key>MediaIndexAway</key>
		<real>0.0</real>
		<key>MediaIndexDraw</key>
		<real>0.0</real>
		<key>MediaIndexHome</key>
		<real>0.0</real>
		<key>SortName</key>
		<string>NBA</string>
		<key>UnusualHot</key>
		<integer>0</integer>
		<key>UnusualIndex</key>
		<integer>0</integer>
		<key>UnusualPayout</key>
		<integer>0</integer>
	</dict>
	<key>29254321</key>
	<dict>
		<key>AsianAvrLet</key>
		<string>0</string>
		<key>AwayTeam</key>
		<string>圣安东尼奥马刺</string>
		<key>AwayTeamId</key>
		<integer>237471</integer>
		<key>BfAmountAway</key>
		<real>205572.37</real>
		<key>BfAmountDraw</key>
		<real>0.0</real>
		<key>BfAmountHome</key>
		<real>706059.06999999995</real>
		<key>BfIndexAway</key>
		<real>39.779899999999998</real>
		<key>BfIndexDraw</key>
		<real>0.0</real>
		<key>BfIndexHome</key>
		<real>60.220100000000002</real>
		<key>BfOddsAway</key>
		<real>3.2999999999999998</real>
		<key>BfOddsDraw</key>
		<real>0.0</real>
		<key>BfOddsHome</key>
		<real>1.4299999999999999</real>
		<key>BfPayoutAway</key>
		<real>-26.445699999999999</real>
		<key>BfPayoutDraw</key>
		<real>0.0</real>
		<key>BfPayoutHome</key>
		<real>11.3489</real>
		<key>Classifnication</key>
		<integer>-1</integer>
		<key>EventId</key>
		<integer>29254321</integer>
		<key>EventTypeId</key>
		<integer>7522</integer>
		<key>HomeTeam</key>
		<string>丹佛掘金</string>
		<key>HomeTeamId</key>
		<integer>237492</integer>
		<key>IsTutorial</key>
		<false/>
		<key>KellyAway</key>
		<real>0.0</real>
		<key>KellyDraw</key>
		<real>0.0</real>
		<key>KellyHome</key>
		<real>0.0</real>
		<key>LeagueId</key>
		<integer>230</integer>
		<key>MatchTime</key>
		<string>2019-04-28T10:10:00</string>
		<key>MaxLastOdds</key>
		<real>1.4399999999999999</real>
		<key>MaxTeamId</key>
		<integer>237492</integer>
		<key>MaxTradedChange</key>
		<real>74977.239999999991</real>
		<key>MaxUpdateTime</key>
		<string>2019-04-28T09:41:06</string>
		<key>MediaIndexAway</key>
		<real>0.0</real>
		<key>MediaIndexDraw</key>
		<real>0.0</real>
		<key>MediaIndexHome</key>
		<real>0.0</real>
		<key>SortName</key>
		<string>NBA</string>
		<key>UnusualHot</key>
		<integer>0</integer>
		<key>UnusualIndex</key>
		<integer>0</integer>
		<key>UnusualPayout</key>
		<integer>0</integer>
	</dict>
	<key>29256750</key>
	<dict>
		<key>AsianAvrLet</key>
		<string>0</string>
		<key>AwayTeam</key>
		<string>休士顿火箭</string>
		<key>AwayTeamId</key>
		<integer>237488</integer>
		<key>BfAmountAway</key>
		<real>7673.1099999999997</real>
		<key>BfAmountDraw</key>
		<real>0.0</real>
		<key>BfAmountHome</key>
		<real>84230.75</real>
		<key>BfIndexAway</key>
		<real>16.3752</real>
		<key>BfIndexDraw</key>
		<real>0.0</real>
		<key>BfIndexHome</key>
		<real>83.624799999999993</real>
		<key>BfOddsAway</key>
		<real>3</real>
		<key>BfOddsDraw</key>
		<real>0.0</real>
		<key>BfOddsHome</key>
		<real>1.5</real>
		<key>BfPayoutAway</key>
		<real>-73.868899999999996</real>
		<key>BfPayoutDraw</key>
		<real>0.0</real>
		<key>BfPayoutHome</key>
		<real>33.4467</real>
		<key>Classifnication</key>
		<integer>-1</integer>
		<key>EventId</key>
		<integer>29256750</integer>
		<key>EventTypeId</key>
		<integer>7522</integer>
		<key>HomeTeam</key>
		<string>金州勇士</string>
		<key>HomeTeamId</key>
		<integer>237493</integer>
		<key>IsTutorial</key>
		<false/>
		<key>KellyAway</key>
		<real>0.0</real>
		<key>KellyDraw</key>
		<real>0.0</real>
		<key>KellyHome</key>
		<real>0.0</real>
		<key>LeagueId</key>
		<integer>230</integer>
		<key>MatchTime</key>
		<string>2019-04-29T03:10:00</string>
		<key>MaxLastOdds</key>
		<real>1.46</real>
		<key>MaxTeamId</key>
		<integer>237493</integer>
		<key>MaxTradedChange</key>
		<real>11022.43</real>
		<key>MaxUpdateTime</key>
		<string>2019-04-28T10:49:52</string>
		<key>MediaIndexAway</key>
		<real>0.0</real>
		<key>MediaIndexDraw</key>
		<real>0.0</real>
		<key>MediaIndexHome</key>
		<real>0.0</real>
		<key>SortName</key>
		<string>NBA</string>
		<key>UnusualHot</key>
		<integer>0</integer>
		<key>UnusualIndex</key>
		<integer>1</integer>
		<key>UnusualPayout</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
