<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>29203611</key>
	<dict>
		<key>AsianAvrLet</key>
		<string>0</string>
		<key>AwayTeam</key>
		<string>印地安纳步行者</string>
		<key>AwayTeamId</key>
		<integer>237481</integer>
		<key>BfAmountAway</key>
		<real>434228.59999999998</real>
		<key>BfAmountDraw</key>
		<real>0.0</real>
		<key>BfAmountHome</key>
		<real>725465.63</real>
		<key>BfIndexAway</key>
		<real>61.017099999999999</real>
		<key>BfIndexDraw</key>
		<real>0.0</real>
		<key>BfIndexHome</key>
		<real>38.982900000000001</real>
		<key>BfOddsAway</key>
		<real>3.6499999999999999</real>
		<key>BfOddsDraw</key>
		<real>0.0</real>
		<key>BfOddsHome</key>
		<real>1.3799999999999999</real>
		<key>BfPayoutAway</key>
		<real>35.720300000000002</real>
		<key>BfPayoutDraw</key>
		<real>0.0</real>
		<key>BfPayoutHome</key>
		<real>-13.2903</real>
		<key>Classifnication</key>
		<integer>-1</integer>
		<key>EventId</key>
		<integer>29203611</integer>
		<key>EventTypeId</key>
		<integer>7522</integer>
		<key>HomeTeam</key>
		<string>俄克拉荷马雷霆</string>
		<key>HomeTeamId</key>
		<integer>3319741</integer>
		<key>IsTutorial</key>
		<false/>
		<key>KellyAway</key>
		<real>0.0</real>
		<key>KellyDraw</key>
		<real>0.0</real>
		<key>KellyHome</key>
		<real>0.0</real>
		<key>LeagueId</key>
		<integer>230</integer>
		<key>MatchTime</key>
		<string>2019-03-28T08:10:00</string>
		<key>MaxLastOdds</key>
		<real>1.3799999999999999</real>
		<key>MaxTeamId</key>
		<integer>3319741</integer>
		<key>MaxTradedChange</key>
		<real>118755.17000000004</real>
		<key>MaxUpdateTime</key>
		<string>2019-03-28T07:42:50</string>
		<key>MediaIndexAway</key>
		<real>0.0</real>
		<key>MediaIndexDraw</key>
		<real>0.0</real>
		<key>MediaIndexHome</key>
		<real>0.0</real>
		<key>SortName</key>
		<string>NBA</string>
		<key>UnusualHot</key>
		<integer>0</integer>
		<key>UnusualIndex</key>
		<integer>0</integer>
		<key>UnusualPayout</key>
		<integer>0</integer>
	</dict>
	<key>29203612</key>
	<dict>
		<key>AsianAvrLet</key>
		<string>0</string>
		<key>AwayTeam</key>
		<string>金州勇士</string>
		<key>AwayTeamId</key>
		<integer>237493</integer>
		<key>BfAmountAway</key>
		<real>366586.44</real>
		<key>BfAmountDraw</key>
		<real>0.0</real>
		<key>BfAmountHome</key>
		<real>36769.870000000003</real>
		<key>BfIndexAway</key>
		<real>66.872299999999996</real>
		<key>BfIndexDraw</key>
		<real>0.0</real>
		<key>BfIndexHome</key>
		<real>33.127699999999997</real>
		<key>BfOddsAway</key>
		<real>1.22</real>
		<key>BfOddsDraw</key>
		<real>0.0</real>
		<key>BfOddsHome</key>
		<real>5.5999999999999996</real>
		<key>BfPayoutAway</key>
		<real>9.6400000000000006</real>
		<key>BfPayoutDraw</key>
		<real>0.0</real>
		<key>BfPayoutHome</key>
		<real>-45.685699999999997</real>
		<key>Classifnication</key>
		<integer>-1</integer>
		<key>EventId</key>
		<integer>29203612</integer>
		<key>EventTypeId</key>
		<integer>7522</integer>
		<key>HomeTeam</key>
		<string>孟菲斯灰熊</string>
		<key>HomeTeamId</key>
		<integer>237491</integer>
		<key>IsTutorial</key>
		<false/>
		<key>KellyAway</key>
		<real>0.0</real>
		<key>KellyDraw</key>
		<real>0.0</real>
		<key>KellyHome</key>
		<real>0.0</real>
		<key>LeagueId</key>
		<integer>230</integer>
		<key>MatchTime</key>
		<string>2019-03-28T08:10:00</string>
		<key>MaxLastOdds</key>
		<real>1.22</real>
		<key>MaxTeamId</key>
		<integer>237493</integer>
		<key>MaxTradedChange</key>
		<real>44174.660000000033</real>
		<key>MaxUpdateTime</key>
		<string>2019-03-28T08:01:38</string>
		<key>MediaIndexAway</key>
		<real>0.0</real>
		<key>MediaIndexDraw</key>
		<real>0.0</real>
		<key>MediaIndexHome</key>
		<real>0.0</real>
		<key>SortName</key>
		<string>NBA</string>
		<key>UnusualHot</key>
		<integer>0</integer>
		<key>UnusualIndex</key>
		<integer>0</integer>
		<key>UnusualPayout</key>
		<integer>0</integer>
	</dict>
	<key>29203613</key>
	<dict>
		<key>AsianAvrLet</key>
		<string>0</string>
		<key>AwayTeam</key>
		<string>波特兰拓荒者</string>
		<key>AwayTeamId</key>
		<integer>237480</integer>
		<key>BfAmountAway</key>
		<real>446115.42999999999</real>
		<key>BfAmountDraw</key>
		<real>0.0</real>
		<key>BfAmountHome</key>
		<real>77582.259999999995</real>
		<key>BfIndexAway</key>
		<real>62.330800000000004</real>
		<key>BfIndexDraw</key>
		<real>0.0</real>
		<key>BfIndexHome</key>
		<real>37.669199999999996</real>
		<key>BfOddsAway</key>
		<real>1.23</real>
		<key>BfOddsDraw</key>
		<real>0.0</real>
		<key>BfOddsHome</key>
		<real>5.2000000000000002</real>
		<key>BfPayoutAway</key>
		<real>9.4328000000000003</real>
		<key>BfPayoutDraw</key>
		<real>0.0</real>
		<key>BfPayoutHome</key>
		<real>-33.865099999999998</real>
		<key>Classifnication</key>
		<integer>-1</integer>
		<key>EventId</key>
		<integer>29203613</integer>
		<key>EventTypeId</key>
		<integer>7522</integer>
		<key>HomeTeam</key>
		<string>芝加哥公牛</string>
		<key>HomeTeamId</key>
		<integer>237494</integer>
		<key>IsTutorial</key>
		<false/>
		<key>KellyAway</key>
		<real>0.0</real>
		<key>KellyDraw</key>
		<real>0.0</real>
		<key>KellyHome</key>
		<real>0.0</real>
		<key>LeagueId</key>
		<integer>230</integer>
		<key>MatchTime</key>
		<string>2019-03-28T08:10:00</string>
		<key>MaxLastOdds</key>
		<real>1.26</real>
		<key>MaxTeamId</key>
		<integer>237480</integer>
		<key>MaxTradedChange</key>
		<real>28137.029999999999</real>
		<key>MaxUpdateTime</key>
		<string>2019-03-28T06:11:56</string>
		<key>MediaIndexAway</key>
		<real>0.0</real>
		<key>MediaIndexDraw</key>
		<real>0.0</real>
		<key>MediaIndexHome</key>
		<real>0.0</real>
		<key>SortName</key>
		<string>NBA</string>
		<key>UnusualHot</key>
		<integer>0</integer>
		<key>UnusualIndex</key>
		<integer>0</integer>
		<key>UnusualPayout</key>
		<integer>0</integer>
	</dict>
	<key>29203614</key>
	<dict>
		<key>AsianAvrLet</key>
		<string>0</string>
		<key>AwayTeam</key>
		<string>华盛顿奇才</string>
		<key>AwayTeamId</key>
		<integer>237485</integer>
		<key>BfAmountAway</key>
		<real>185049.25</real>
		<key>BfAmountDraw</key>
		<real>0.0</real>
		<key>BfAmountHome</key>
		<real>113159.52</real>
		<key>BfIndexAway</key>
		<real>59.241700000000002</real>
		<key>BfIndexDraw</key>
		<real>0.0</real>
		<key>BfIndexHome</key>
		<real>40.758299999999998</real>
		<key>BfOddsAway</key>
		<real>1.98</real>
		<key>BfOddsDraw</key>
		<real>0.0</real>
		<key>BfOddsHome</key>
		<real>2.02</real>
		<key>BfPayoutAway</key>
		<real>17.554300000000001</real>
		<key>BfPayoutDraw</key>
		<real>0.0</real>
		<key>BfPayoutHome</key>
		<real>-19.122800000000002</real>
		<key>Classifnication</key>
		<integer>-1</integer>
		<key>EventId</key>
		<integer>29203614</integer>
		<key>EventTypeId</key>
		<integer>7522</integer>
		<key>HomeTeam</key>
		<string>菲尼克斯太阳</string>
		<key>HomeTeamId</key>
		<integer>237487</integer>
		<key>IsTutorial</key>
		<false/>
		<key>KellyAway</key>
		<real>0.0</real>
		<key>KellyDraw</key>
		<real>0.0</real>
		<key>KellyHome</key>
		<real>0.0</real>
		<key>LeagueId</key>
		<integer>230</integer>
		<key>MatchTime</key>
		<string>2019-03-28T10:10:00</string>
		<key>MaxLastOdds</key>
		<real>1.99</real>
		<key>MaxTeamId</key>
		<integer>237487</integer>
		<key>MaxTradedChange</key>
		<real>15551.460000000006</real>
		<key>MaxUpdateTime</key>
		<string>2019-03-28T09:34:02</string>
		<key>MediaIndexAway</key>
		<real>0.0</real>
		<key>MediaIndexDraw</key>
		<real>0.0</real>
		<key>MediaIndexHome</key>
		<real>0.0</real>
		<key>SortName</key>
		<string>NBA</string>
		<key>UnusualHot</key>
		<integer>0</integer>
		<key>UnusualIndex</key>
		<integer>0</integer>
		<key>UnusualPayout</key>
		<integer>0</integer>
	</dict>
	<key>29203615</key>
	<dict>
		<key>AsianAvrLet</key>
		<string>0</string>
		<key>AwayTeam</key>
		<string>洛杉矶湖人队</string>
		<key>AwayTeamId</key>
		<integer>5368712</integer>
		<key>BfAmountAway</key>
		<real>46256.910000000003</real>
		<key>BfAmountDraw</key>
		<real>0.0</real>
		<key>BfAmountHome</key>
		<real>982641.69999999995</real>
		<key>BfIndexAway</key>
		<real>36.769199999999998</real>
		<key>BfIndexDraw</key>
		<real>0.0</real>
		<key>BfIndexHome</key>
		<real>63.230800000000002</real>
		<key>BfOddsAway</key>
		<real>14</real>
		<key>BfOddsDraw</key>
		<real>0.0</real>
		<key>BfOddsHome</key>
		<real>1.0800000000000001</real>
		<key>BfPayoutAway</key>
		<real>-39.7913</real>
		<key>BfPayoutDraw</key>
		<real>0.0</real>
		<key>BfPayoutHome</key>
		<real>3.5388000000000002</real>
		<key>Classifnication</key>
		<integer>-1</integer>
		<key>EventId</key>
		<integer>29203615</integer>
		<key>EventTypeId</key>
		<integer>7522</integer>
		<key>HomeTeam</key>
		<string>犹他爵士</string>
		<key>HomeTeamId</key>
		<integer>237484</integer>
		<key>IsTutorial</key>
		<false/>
		<key>KellyAway</key>
		<real>0.0</real>
		<key>KellyDraw</key>
		<real>0.0</real>
		<key>KellyHome</key>
		<real>0.0</real>
		<key>LeagueId</key>
		<integer>230</integer>
		<key>MatchTime</key>
		<string>2019-03-28T10:40:00</string>
		<key>MaxLastOdds</key>
		<real>1.0700000000000001</real>
		<key>MaxTeamId</key>
		<integer>237484</integer>
		<key>MaxTradedChange</key>
		<real>125603.80000000005</real>
		<key>MaxUpdateTime</key>
		<string>2019-03-28T09:46:39</string>
		<key>MediaIndexAway</key>
		<real>0.0</real>
		<key>MediaIndexDraw</key>
		<real>0.0</real>
		<key>MediaIndexHome</key>
		<real>0.0</real>
		<key>SortName</key>
		<string>NBA</string>
		<key>UnusualHot</key>
		<integer>0</integer>
		<key>UnusualIndex</key>
		<integer>0</integer>
		<key>UnusualPayout</key>
		<integer>0</integer>
	</dict>
	<key>29204941</key>
	<dict>
		<key>AsianAvrLet</key>
		<string>0</string>
		<key>AwayTeam</key>
		<string>布鲁克林篮网</string>
		<key>AwayTeamId</key>
		<integer>6500320</integer>
		<key>BfAmountAway</key>
		<real>1226.6300000000001</real>
		<key>BfAmountDraw</key>
		<real>0.0</real>
		<key>BfAmountHome</key>
		<real>4172.1000000000004</real>
		<key>BfIndexAway</key>
		<real>51.339700000000001</real>
		<key>BfIndexDraw</key>
		<real>0.0</real>
		<key>BfIndexHome</key>
		<real>48.660299999999999</real>
		<key>BfOddsAway</key>
		<real>4.4000000000000004</real>
		<key>BfOddsDraw</key>
		<real>0.0</real>
		<key>BfOddsHome</key>
		<real>1.28</real>
		<key>BfPayoutAway</key>
		<real>5.0681000000000003</real>
		<key>BfPayoutDraw</key>
		<real>0.0</real>
		<key>BfPayoutHome</key>
		<real>-0.41489999999999999</real>
		<key>Classifnication</key>
		<integer>-1</integer>
		<key>EventId</key>
		<integer>29204941</integer>
		<key>EventTypeId</key>
		<integer>7522</integer>
		<key>HomeTeam</key>
		<string>费城76人</string>
		<key>HomeTeamId</key>
		<integer>237473</integer>
		<key>IsTutorial</key>
		<false/>
		<key>KellyAway</key>
		<real>0.0</real>
		<key>KellyDraw</key>
		<real>0.0</real>
		<key>KellyHome</key>
		<real>0.0</real>
		<key>LeagueId</key>
		<integer>230</integer>
		<key>MatchTime</key>
		<string>2019-03-29T07:10:00</string>
		<key>MaxLastOdds</key>
		<real>1.29</real>
		<key>MaxTeamId</key>
		<integer>237473</integer>
		<key>MaxTradedChange</key>
		<real>709.26999999999998</real>
		<key>MaxUpdateTime</key>
		<string>2019-03-28T13:30:31</string>
		<key>MediaIndexAway</key>
		<real>0.0</real>
		<key>MediaIndexDraw</key>
		<real>0.0</real>
		<key>MediaIndexHome</key>
		<real>0.0</real>
		<key>SortName</key>
		<string>NBA</string>
		<key>UnusualHot</key>
		<integer>0</integer>
		<key>UnusualIndex</key>
		<integer>0</integer>
		<key>UnusualPayout</key>
		<integer>0</integer>
	</dict>
	<key>29204942</key>
	<dict>
		<key>AsianAvrLet</key>
		<string>0</string>
		<key>AwayTeam</key>
		<string>奥兰多魔术</string>
		<key>AwayTeamId</key>
		<integer>237475</integer>
		<key>BfAmountAway</key>
		<real>4510.1499999999996</real>
		<key>BfAmountDraw</key>
		<real>0.0</real>
		<key>BfAmountHome</key>
		<real>7406.5100000000002</real>
		<key>BfIndexAway</key>
		<real>46.713900000000002</real>
		<key>BfIndexDraw</key>
		<real>0.0</real>
		<key>BfIndexHome</key>
		<real>53.286099999999998</real>
		<key>BfOddsAway</key>
		<real>2.52</real>
		<key>BfOddsDraw</key>
		<real>0.0</real>
		<key>BfOddsHome</key>
		<real>1.6599999999999999</real>
		<key>BfPayoutAway</key>
		<real>-7.7289000000000003</real>
		<key>BfPayoutDraw</key>
		<real>0.0</real>
		<key>BfPayoutHome</key>
		<real>5.2527999999999997</real>
		<key>Classifnication</key>
		<integer>-1</integer>
		<key>EventId</key>
		<integer>29204942</integer>
		<key>EventTypeId</key>
		<integer>7522</integer>
		<key>HomeTeam</key>
		<string>底特律活塞</string>
		<key>HomeTeamId</key>
		<integer>237474</integer>
		<key>IsTutorial</key>
		<false/>
		<key>KellyAway</key>
		<real>0.0</real>
		<key>KellyDraw</key>
		<real>0.0</real>
		<key>KellyHome</key>
		<real>0.0</real>
		<key>LeagueId</key>
		<integer>230</integer>
		<key>MatchTime</key>
		<string>2019-03-29T07:10:00</string>
		<key>MaxLastOdds</key>
		<real>1.71</real>
		<key>MaxTeamId</key>
		<integer>237474</integer>
		<key>MaxTradedChange</key>
		<real>1681.1900000000001</real>
		<key>MaxUpdateTime</key>
		<string>2019-03-28T14:43:31</string>
		<key>MediaIndexAway</key>
		<real>0.0</real>
		<key>MediaIndexDraw</key>
		<real>0.0</real>
		<key>MediaIndexHome</key>
		<real>0.0</real>
		<key>SortName</key>
		<string>NBA</string>
		<key>UnusualHot</key>
		<integer>0</integer>
		<key>UnusualIndex</key>
		<integer>0</integer>
		<key>UnusualPayout</key>
		<integer>0</integer>
	</dict>
	<key>29204944</key>
	<dict>
		<key>AsianAvrLet</key>
		<string>0</string>
		<key>AwayTeam</key>
		<string>洛杉矶快船队</string>
		<key>AwayTeamId</key>
		<integer>6023845</integer>
		<key>BfAmountAway</key>
		<real>45.93</real>
		<key>BfAmountDraw</key>
		<real>0.0</real>
		<key>BfAmountHome</key>
		<real>2415.4299999999998</real>
		<key>BfIndexAway</key>
		<real>6.5964</real>
		<key>BfIndexDraw</key>
		<real>0.0</real>
		<key>BfIndexHome</key>
		<real>93.403599999999997</real>
		<key>BfOddsAway</key>
		<real>4.7999999999999998</real>
		<key>BfOddsDraw</key>
		<real>0.0</real>
		<key>BfOddsHome</key>
		<real>1.28</real>
		<key>BfPayoutAway</key>
		<real>-91.043000000000006</real>
		<key>BfPayoutDraw</key>
		<real>0.0</real>
		<key>BfPayoutHome</key>
		<real>26.829000000000001</real>
		<key>Classifnication</key>
		<integer>-1</integer>
		<key>EventId</key>
		<integer>29204944</integer>
		<key>EventTypeId</key>
		<integer>7522</integer>
		<key>HomeTeam</key>
		<string>密尔沃基雄鹿</string>
		<key>HomeTeamId</key>
		<integer>237477</integer>
		<key>IsTutorial</key>
		<false/>
		<key>KellyAway</key>
		<real>0.0</real>
		<key>KellyDraw</key>
		<real>0.0</real>
		<key>KellyHome</key>
		<real>0.0</real>
		<key>LeagueId</key>
		<integer>230</integer>
		<key>MatchTime</key>
		<string>2019-03-29T08:10:00</string>
		<key>MaxLastOdds</key>
		<real>1.3100000000000001</real>
		<key>MaxTeamId</key>
		<integer>237477</integer>
		<key>MaxTradedChange</key>
		<real>561.76999999999998</real>
		<key>MaxUpdateTime</key>
		<string>2019-03-28T15:59:40</string>
		<key>MediaIndexAway</key>
		<real>0.0</real>
		<key>MediaIndexDraw</key>
		<real>0.0</real>
		<key>MediaIndexHome</key>
		<real>0.0</real>
		<key>SortName</key>
		<string>NBA</string>
		<key>UnusualHot</key>
		<integer>0</integer>
		<key>UnusualIndex</key>
		<integer>1</integer>
		<key>UnusualPayout</key>
		<integer>0</integer>
	</dict>
	<key>29204945</key>
	<dict>
		<key>AsianAvrLet</key>
		<string>0</string>
		<key>AwayTeam</key>
		<string>丹佛掘金</string>
		<key>AwayTeamId</key>
		<integer>237492</integer>
		<key>BfAmountAway</key>
		<real>29617.91</real>
		<key>BfAmountDraw</key>
		<real>0.0</real>
		<key>BfAmountHome</key>
		<real>44868.93</real>
		<key>BfIndexAway</key>
		<real>58.001899999999999</real>
		<key>BfIndexDraw</key>
		<real>0.0</real>
		<key>BfIndexHome</key>
		<real>41.998100000000001</real>
		<key>BfOddsAway</key>
		<real>3.2999999999999998</real>
		<key>BfOddsDraw</key>
		<real>0.0</real>
		<key>BfOddsHome</key>
		<real>1.48</real>
		<key>BfPayoutAway</key>
		<real>23.066700000000001</real>
		<key>BfPayoutDraw</key>
		<real>0.0</real>
		<key>BfPayoutHome</key>
		<real>-10.8895</real>
		<key>Classifnication</key>
		<integer>-1</integer>
		<key>EventId</key>
		<integer>29204945</integer>
		<key>EventTypeId</key>
		<integer>7522</integer>
		<key>HomeTeam</key>
		<string>休士顿火箭</string>
		<key>HomeTeamId</key>
		<integer>237488</integer>
		<key>IsTutorial</key>
		<false/>
		<key>KellyAway</key>
		<real>0.0</real>
		<key>KellyDraw</key>
		<real>0.0</real>
		<key>KellyHome</key>
		<real>0.0</real>
		<key>LeagueId</key>
		<integer>230</integer>
		<key>MatchTime</key>
		<string>2019-03-29T08:10:00</string>
		<key>MaxLastOdds</key>
		<real>1.48</real>
		<key>MaxTeamId</key>
		<integer>237488</integer>
		<key>MaxTradedChange</key>
		<real>3338.3099999999977</real>
		<key>MaxUpdateTime</key>
		<string>2019-03-28T16:24:24</string>
		<key>MediaIndexAway</key>
		<real>0.0</real>
		<key>MediaIndexDraw</key>
		<real>0.0</real>
		<key>MediaIndexHome</key>
		<real>0.0</real>
		<key>SortName</key>
		<string>NBA</string>
		<key>UnusualHot</key>
		<integer>0</integer>
		<key>UnusualIndex</key>
		<integer>0</integer>
		<key>UnusualPayout</key>
		<integer>0</integer>
	</dict>
	<key>29204949</key>
	<dict>
		<key>AsianAvrLet</key>
		<string>0</string>
		<key>AwayTeam</key>
		<string>达拉斯小牛</string>
		<key>AwayTeamId</key>
		<integer>237472</integer>
		<key>BfAmountAway</key>
		<real>108.18000000000001</real>
		<key>BfAmountDraw</key>
		<real>0.0</real>
		<key>BfAmountHome</key>
		<real>3845.9899999999998</real>
		<key>BfIndexAway</key>
		<real>6.7808999999999999</real>
		<key>BfIndexDraw</key>
		<real>0.0</real>
		<key>BfIndexHome</key>
		<real>93.219099999999997</real>
		<key>BfOddsAway</key>
		<real>3.5</real>
		<key>BfOddsDraw</key>
		<real>0.0</real>
		<key>BfOddsHome</key>
		<real>1.3600000000000001</real>
		<key>BfPayoutAway</key>
		<real>-90.424499999999995</real>
		<key>BfPayoutDraw</key>
		<real>0.0</real>
		<key>BfPayoutHome</key>
		<real>31.637499999999999</real>
		<key>Classifnication</key>
		<integer>-1</integer>
		<key>EventId</key>
		<integer>29204949</integer>
		<key>EventTypeId</key>
		<integer>7522</integer>
		<key>HomeTeam</key>
		<string>迈阿密热浪</string>
		<key>HomeTeamId</key>
		<integer>237486</integer>
		<key>IsTutorial</key>
		<false/>
		<key>KellyAway</key>
		<real>0.0</real>
		<key>KellyDraw</key>
		<real>0.0</real>
		<key>KellyHome</key>
		<real>0.0</real>
		<key>LeagueId</key>
		<integer>230</integer>
		<key>MatchTime</key>
		<string>2019-03-29T07:40:00</string>
		<key>MaxLastOdds</key>
		<real>1.3600000000000001</real>
		<key>MaxTeamId</key>
		<integer>237486</integer>
		<key>MaxTradedChange</key>
		<real>1669.7399999999998</real>
		<key>MaxUpdateTime</key>
		<string>2019-03-28T17:34:55</string>
		<key>MediaIndexAway</key>
		<real>0.0</real>
		<key>MediaIndexDraw</key>
		<real>0.0</real>
		<key>MediaIndexHome</key>
		<real>0.0</real>
		<key>SortName</key>
		<string>NBA</string>
		<key>UnusualHot</key>
		<integer>0</integer>
		<key>UnusualIndex</key>
		<integer>1</integer>
		<key>UnusualPayout</key>
		<integer>0</integer>
	</dict>
	<key>29204950</key>
	<dict>
		<key>AsianAvrLet</key>
		<string>0</string>
		<key>AwayTeam</key>
		<string>多伦多猛龙</string>
		<key>AwayTeamId</key>
		<integer>237476</integer>
		<key>BfAmountAway</key>
		<real>3883.4499999999998</real>
		<key>BfAmountDraw</key>
		<real>0.0</real>
		<key>BfAmountHome</key>
		<real>383.80000000000001</real>
		<key>BfIndexAway</key>
		<real>58.796500000000002</real>
		<key>BfIndexDraw</key>
		<real>0.0</real>
		<key>BfIndexHome</key>
		<real>41.203499999999998</real>
		<key>BfOddsAway</key>
		<real>1.1699999999999999</real>
		<key>BfOddsDraw</key>
		<real>0.0</real>
		<key>BfOddsHome</key>
		<real>6.4000000000000004</real>
		<key>BfPayoutAway</key>
		<real>4.9005999999999998</real>
		<key>BfPayoutDraw</key>
		<real>0.0</real>
		<key>BfPayoutHome</key>
		<real>-26.4876</real>
		<key>Classifnication</key>
		<integer>-1</integer>
		<key>EventId</key>
		<integer>29204950</integer>
		<key>EventTypeId</key>
		<integer>7522</integer>
		<key>HomeTeam</key>
		<string>纽约尼克斯</string>
		<key>HomeTeamId</key>
		<integer>237482</integer>
		<key>IsTutorial</key>
		<false/>
		<key>KellyAway</key>
		<real>0.0</real>
		<key>KellyDraw</key>
		<real>0.0</real>
		<key>KellyHome</key>
		<real>0.0</real>
		<key>LeagueId</key>
		<integer>230</integer>
		<key>MatchTime</key>
		<string>2019-03-29T07:40:00</string>
		<key>MaxLastOdds</key>
		<real>6.4000000000000004</real>
		<key>MaxTeamId</key>
		<integer>237482</integer>
		<key>MaxTradedChange</key>
		<real>55.620000000000005</real>
		<key>MaxUpdateTime</key>
		<string>2019-03-28T17:01:42</string>
		<key>MediaIndexAway</key>
		<real>0.0</real>
		<key>MediaIndexDraw</key>
		<real>0.0</real>
		<key>MediaIndexHome</key>
		<real>0.0</real>
		<key>SortName</key>
		<string>NBA</string>
		<key>UnusualHot</key>
		<integer>0</integer>
		<key>UnusualIndex</key>
		<integer>0</integer>
		<key>UnusualPayout</key>
		<integer>0</integer>
	</dict>
	<key>29204953</key>
	<dict>
		<key>AsianAvrLet</key>
		<string>0</string>
		<key>AwayTeam</key>
		<string>萨克拉门托国王</string>
		<key>AwayTeamId</key>
		<integer>237470</integer>
		<key>BfAmountAway</key>
		<real>617.71000000000004</real>
		<key>BfAmountDraw</key>
		<real>0.0</real>
		<key>BfAmountHome</key>
		<real>77.150000000000006</real>
		<key>BfIndexAway</key>
		<real>85.739599999999996</real>
		<key>BfIndexDraw</key>
		<real>0.0</real>
		<key>BfIndexHome</key>
		<real>14.260400000000001</real>
		<key>BfOddsAway</key>
		<real>1.73</real>
		<key>BfOddsDraw</key>
		<real>0.0</real>
		<key>BfOddsHome</key>
		<real>2.2599999999999998</real>
		<key>BfPayoutAway</key>
		<real>53.792900000000003</real>
		<key>BfPayoutDraw</key>
		<real>0.0</real>
		<key>BfPayoutHome</key>
		<real>-74.4221</real>
		<key>Classifnication</key>
		<integer>-1</integer>
		<key>EventId</key>
		<integer>29204953</integer>
		<key>EventTypeId</key>
		<integer>7522</integer>
		<key>HomeTeam</key>
		<string>新奥尔良鹈鹕队</string>
		<key>HomeTeamId</key>
		<integer>7379341</integer>
		<key>IsTutorial</key>
		<false/>
		<key>KellyAway</key>
		<real>0.0</real>
		<key>KellyDraw</key>
		<real>0.0</real>
		<key>KellyHome</key>
		<real>0.0</real>
		<key>LeagueId</key>
		<integer>230</integer>
		<key>MatchTime</key>
		<string>2019-03-29T08:10:00</string>
		<key>MaxLastOdds</key>
		<real>1.73</real>
		<key>MaxTeamId</key>
		<integer>237470</integer>
		<key>MaxTradedChange</key>
		<real>206.69</real>
		<key>MaxUpdateTime</key>
		<string>2019-03-28T16:56:42</string>
		<key>MediaIndexAway</key>
		<real>0.0</real>
		<key>MediaIndexDraw</key>
		<real>0.0</real>
		<key>MediaIndexHome</key>
		<real>0.0</real>
		<key>SortName</key>
		<string>NBA</string>
		<key>UnusualHot</key>
		<integer>0</integer>
		<key>UnusualIndex</key>
		<integer>1</integer>
		<key>UnusualPayout</key>
		<integer>0</integer>
	</dict>
	<key>29204954</key>
	<dict>
		<key>AsianAvrLet</key>
		<string>0</string>
		<key>AwayTeam</key>
		<string>克利夫兰骑士</string>
		<key>AwayTeamId</key>
		<integer>60424</integer>
		<key>BfAmountAway</key>
		<real>33.390000000000001</real>
		<key>BfAmountDraw</key>
		<real>0.0</real>
		<key>BfAmountHome</key>
		<real>702.09000000000003</real>
		<key>BfIndexAway</key>
		<real>28.091200000000001</real>
		<key>BfIndexDraw</key>
		<real>0.0</real>
		<key>BfIndexHome</key>
		<real>71.908799999999999</real>
		<key>BfOddsAway</key>
		<real>9.1999999999999993</real>
		<key>BfOddsDraw</key>
		<real>0.0</real>
		<key>BfOddsHome</key>
		<real>1.1200000000000001</real>
		<key>BfPayoutAway</key>
		<real>-58.232999999999997</real>
		<key>BfPayoutDraw</key>
		<real>0.0</real>
		<key>BfPayoutHome</key>
		<real>6.9154999999999998</real>
		<key>Classifnication</key>
		<integer>-1</integer>
		<key>EventId</key>
		<integer>29204954</integer>
		<key>EventTypeId</key>
		<integer>7522</integer>
		<key>HomeTeam</key>
		<string>圣安东尼奥马刺</string>
		<key>HomeTeamId</key>
		<integer>237471</integer>
		<key>IsTutorial</key>
		<false/>
		<key>KellyAway</key>
		<real>0.0</real>
		<key>KellyDraw</key>
		<real>0.0</real>
		<key>KellyHome</key>
		<real>0.0</real>
		<key>LeagueId</key>
		<integer>230</integer>
		<key>MatchTime</key>
		<string>2019-03-29T08:40:00</string>
		<key>MaxLastOdds</key>
		<real>1.1200000000000001</real>
		<key>MaxTeamId</key>
		<integer>237471</integer>
		<key>MaxTradedChange</key>
		<real>371.12</real>
		<key>MaxUpdateTime</key>
		<string>2019-03-28T15:23:40</string>
		<key>MediaIndexAway</key>
		<real>0.0</real>
		<key>MediaIndexDraw</key>
		<real>0.0</real>
		<key>MediaIndexHome</key>
		<real>0.0</real>
		<key>SortName</key>
		<string>NBA</string>
		<key>UnusualHot</key>
		<integer>0</integer>
		<key>UnusualIndex</key>
		<integer>1</integer>
		<key>UnusualPayout</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
