<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>飞刀</string>
		<key>tag</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>临场猎手</string>
		<key>tag</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>忠犬红单</string>
		<key>tag</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>狗狗暴走</string>
		<key>tag</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>小狗看盘</string>
		<key>tag</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>竞彩导盲犬</string>
		<key>tag</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>狗哥无敌</string>
		<key>tag</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>狗皇看盘</string>
		<key>tag</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>藏獒咬庄</string>
		<key>tag</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>稳如哈士奇</string>
		<key>tag</key>
		<integer>8</integer>
	</dict>
</array>
</plist>
