<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>className</key>
		<string>SYBasketballScoreSetViewController</string>
		<key>title</key>
		<string>比分对比录入</string>
	</dict>
	<dict>
		<key>className</key>
		<string>SYBasketBallListViewController</string>
		<key>title</key>
		<string>历史</string>
	</dict>
	<dict>
		<key>className</key>
		<string>SYDateAnalysisViewController</string>
		<key>title</key>
		<string>每日红黑</string>
	</dict>
	<dict>
		<key>className</key>
		<string>SYGameTeamAnalysisViewController</string>
		<key>title</key>
		<string>球队分析</string>
	</dict>
</array>
</plist>
