<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>className</key>
		<string>SYCategoryViewController</string>
		<key>title</key>
		<string>赛程对比</string>
		<key>type</key>
		<string>5</string>
	</dict>
	<dict>
		<key>className</key>
		<string>SYCategoryViewController</string>
		<key>title</key>
		<string>赛程优质数据</string>
		<key>type</key>
		<string>8</string>
	</dict>
	<dict>
		<key>className</key>
		<string>SYCategoryViewController</string>
		<key>title</key>
		<string>历史回顾</string>
		<key>type</key>
		<string>5</string>
	</dict>
	<dict>
		<key>className</key>
		<string>SYCompareViewController</string>
		<key>title</key>
		<string>全部对比</string>
		<key>type</key>
		<string>6</string>
	</dict>
	<dict>
		<key>className</key>
		<string>SYCompareViewController</string>
		<key>title</key>
		<string>全部优质数据</string>
		<key>type</key>
		<string>9</string>
	</dict>
	<dict>
		<key>className</key>
		<string>SYListViewController</string>
		<key>title</key>
		<string>比分录入</string>
		<key>type</key>
		<string>7</string>
	</dict>
	<dict>
		<key>className</key>
		<string>SYFootballScoreSetViewController</string>
		<key>title</key>
		<string>比分对比录入</string>
	</dict>
	<dict>
		<key>className</key>
		<string>SYListViewController</string>
		<key>title</key>
		<string>历史</string>
		<key>type</key>
		<string>4</string>
	</dict>
	<dict>
		<key>className</key>
		<string>SYRecommendViewController</string>
		<key>title</key>
		<string>推介</string>
	</dict>
</array>
</plist>
